<template>
  <VApp>
    <div id="addproject">
      <span class="errorTxt">
        <button
          type="button"
          class="btn btn-secondary btn-xs"
        >For Draft Projects, please fill up the project title</button>
        <button type="button" class="btn btn-primary btn-xs">
          For Finalized Projects, please fill up fields with
          <i class="fas fa-flag"></i>
        </button>
      </span>

      <div class="container-fluid">
        <header>
          <h1 class="h3 display mt-2">Add Project</h1>
        </header>

        <form class="text-left needs-validation" enctype="multipart/form-data">
          <geninfo :basis="basis" ref="geninfo"></geninfo>
          <implementingagency
            :agency_agency="agency_agency"
            :agency_mother="agency_mother"
            ref="implementingagency"
          ></implementingagency>
          <spatialcoverage1 ref="spatialcoverage"></spatialcoverage1>
          <!-- <levelofapproval></levelofapproval> -->
          <projforinclusion
            :piptypologies="piptypologies"
            :ciptypologies="ciptypologies"
            :sectors="sectors"
            :subsectors="subsectors"
            :statuses="statuses"
            ref="projforinclusion"
          ></projforinclusion>
          <physicalaccomplishments ref="physicalaccomplishments"></physicalaccomplishments>
          <pdp
            :chapters="chapters"
            :_1matrices="_1matrices"
            :_2matrices="_2matrices"
            :_3matrices="_3matrices"
            :_4matrices="_4matrices"
            :sectors="sectors"
            :subsectors="subsectors"
            ref="pdpchapter"
          ></pdp>
          <notpdp ref="notpdp"></notpdp>
          <tenpointsdg ref="tenpointsdg" :agendas="agendas" :goals="goals"></tenpointsdg>
          <projectpreparation
            :projectdocuments="projectdocuments"
            :fsstatuses="fsstatuses"
            ref="projectpreparation"
          ></projectpreparation>
          <preconstruction ref="preconstruction"></preconstruction>
          <!-- <projectcost></projectcost> -->
          <fundingsource
            :fundingsources="fundingsources"
            :modes="modes"
            :fundings="fundings"
            ref="fundingsource"
          ></fundingsource>
          <!-- <physicalaccomplishments></physicalaccomplishments> -->
          <financialaccomplishments ref="financialaccomplishments"></financialaccomplishments>
          <formsubmit @validate_all="validate_all" @saveDraft="saveasDraft"></formsubmit>
        </form>
        <!-- end container fluid -->
      </div>
      <!-- end app -->
    </div>
  </VApp>
</template>

<script>
import Swal from 'sweetalert2/dist/sweetalert2.js'
import 'sweetalert2/src/sweetalert2.scss'
import Multiselect from "vue-multiselect";
// import levelofapproval from "../components/AddProject/LevelOfApproval.vue";
// import spatialcoverage from "../components/AddProject/SpatialCoverage.vue";
import spatialcoverage1 from "../components/AddProject/SpatialCoverage1.vue";
import implementingagency from "../components/AddProject/ImplementingAgency.vue";
import geninfo from "../components/AddProject/GenInfo.vue";
import projforinclusion from "../components/AddProject/ProjforInclusion.vue";
import pdp from "../components/AddProject/Pdp.vue";
import notpdp from "../components/AddProject/Notpdp.vue";
import tenpointsdg from "../components/AddProject/TenPointAgendaSdg.vue";
import projectpreparation from "../components/AddProject/ProjectPreparation.vue";
import preconstruction from "../components/AddProject/PreConstruction.vue";
// import projectcost from "../components/AddProject/ProjectCost.vue";
import fundingsource from "../components/AddProject/FundingSource.vue";
import physicalaccomplishments from "../components/AddProject/PhysicalAccomplish.vue";
import financialaccomplishments from "../components/AddProject/FinancialAccomplish.vue";
import formsubmit from "../components/AddProject/formSubmit.vue";

import store from "../store/storetodb.js";

const mapDuplicate = new Map();
const mapDuplicateRegions = new Map();

export default {
  name: "addproject",
  props: [
    "route",
    "routetoview",
    "basis",
    "submission",
    "agency_agency",
    "agency_mother",
    "piptypologies",
    "ciptypologies",
    "sectors",
    "subsectors",
    "statuses",
    "chapters",
    "_1matrices",
    "_2matrices",
    "_3matrices",
    "_4matrices",
    "agendas",
    "goals",
    "projectdocuments",
    "fsstatuses",
    "fundingsources",
    "modes",
    "fundings"
  ],
  components: {
    // levelofapproval,
    spatialcoverage1,
    implementingagency,
    geninfo,
    projforinclusion,
    pdp,
    notpdp,
    tenpointsdg,
    projectpreparation,
    preconstruction,
    // projectcost,
    fundingsource,
    physicalaccomplishments,
    financialaccomplishments,
    formsubmit
  },
  data() {
    return {};
  },
  methods: {
    validate_all() {
      this.$refs.geninfo.validateBeforeSubmit();
      this.$refs.implementingagency.validateBeforeSubmit();
      this.$refs.spatialcoverage.validateBeforeSubmit();
      this.$refs.projforinclusion.validateBeforeSubmit();
      this.$refs.physicalaccomplishments.validateBeforeSubmit();
      this.$refs.pdpchapter.validateBeforeSubmit();
      this.$refs.notpdp.validateBeforeSubmit();
      this.$refs.tenpointsdg.validateBeforeSubmit();
      this.$refs.preconstruction.validateBeforeSubmit();
      this.$refs.projectpreparation.validateBeforeSubmit();
      this.$refs.fundingsource.validateBeforeSubmit();
      this.$refs.financialaccomplishments.validateBeforeSubmit();
      setTimeout(() => {
        if (this.noerror()) {
          setTimeout(() => {
            this.save('Endorsed')
          }, 500);
          Swal.fire(
              'Good job!',
              'Project Added as Endorsed',
              'success'
            )
        }else {
          alert("ERROR! Fill out the required fields!");
        }
      }, 500);
    },
    saveasDraft() {
      this.save('Draft')
      Swal.fire(
              'Good job!',
              'Project Added as Draft',
              'success'
            ).then(
              setTimeout(() => {
                window.location.replace(this.routetoview)
              }, 1000)
            )
    },
    save(val) {
      store.dispatch('UpdateStatusofSubmissionData', val)
      this.$refs.geninfo.savetostore("draft");
      this.$refs.implementingagency.savetostore("draft");
      this.$refs.spatialcoverage.savetostore("draft");
      this.$refs.projforinclusion.savetostore("draft");
      this.$refs.physicalaccomplishments.savetostore("draft");
      this.$refs.pdpchapter.savetostore("draft");
      this.$refs.notpdp.savetostore("draft");
      this.$refs.tenpointsdg.savetostore("draft");
      this.$refs.preconstruction.savetostore("draft");
      this.$refs.projectpreparation.savetostore("draft");
      this.$refs.fundingsource.savetostore("draft");
      this.$refs.financialaccomplishments.savetostore("draft");
      store.dispatch('savedraftAdd')
    },
    noerror(){
      let a = this.errors.items == 0 ? true : false
      return a
    }
  }
};
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>