<template>
  <div>
    <VApp>
      <v-toolbar flat color="white">
        <v-toolbar-title>Users</v-toolbar-title>
        <!-- <v-divider class="mx-2" inset vertical></v-divider> -->
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn flat text @click="gotodasboard">Back to Dashboard</v-btn>
        </v-toolbar-items>
        <template v-slot:extension>
        <v-tabs
          v-model="model"
          centered
          color="white"
          slider-color="yellow"
        >
          <v-tab
            :href="`#tab-1`"
          >
            Approved / Enabled Users
          </v-tab>
          <v-tab
            :href="`#tab-2`"
          >
            Disabled Users
          </v-tab>
          <v-tab
            :href="`#tab-3`"
          >
            User Request
          </v-tab>
        </v-tabs>
      </template>
      </v-toolbar>
      <v-tabs-items v-model="model">
      <v-tab-item :value="`tab-1`">
        <v-card flat>
          <approvedusers :tab='model'></approvedusers>
        </v-card>
      </v-tab-item>
      <v-tab-item :value="`tab-2`">
        <v-card flat>
          <disabledusers :tab='model'></disabledusers>
        </v-card>
      </v-tab-item>
      <v-tab-item :value="`tab-3`">
        <v-card flat>
          <userrequest :tab='model'></userrequest>
        </v-card>
      </v-tab-item>
    </v-tabs-items>
    </VApp>
    <vue-snotify></vue-snotify>
  </div>
</template>

<script>
import userrequest from './UserRequest.vue';
import approvedusers from './ApprovedUsers.vue';
import disabledusers from './DisabledUsers.vue';

export default {
  name: "Home",
  props: ["route"],
  components: {
    userrequest, approvedusers, disabledusers
  },
  data() {
    return {
      model: 'tab-1',
      dialog: false,
      editedIndex: -1,
      editedItem: {
        lname: "",
        fname: "",
        mname: "",
        designation: "",
        email: "",
        telnumber: "",
        faxnumber: "",
        username: "",
        UACS_AGY_DSC: ""
      },
    };
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New User" : "Edit Item";
    }
  },
  methods: {
    gotodasboard(){
      location.href = this.route
    }
  }
};
</script>