<template>
  <div id="userrequest">
    <vContainer fluid py-0>
      <VLayout>
        <VFlex>
          <vContainer fluid py-3>
            <VLayout row>
              <!-- Dialog Box -->
              <v-dialog v-model="dialog" max-width="800px">
                <template v-slot:activator="{ on }">
                  <v-btn color="primary" dark class="mb-2" v-on="on">New Item</v-btn>
                </template>
                <v-card>
                  <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                  </v-card-title>

                  <v-card-text>
                    <v-container grid-list-md>
                      <v-layout wrap>
                        <v-flex xs12 sm6 md4>
                          <v-text-field v-model="editedItem.lname" label="Last name"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                          <v-text-field v-model="editedItem.fname" label="First Name"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                          <v-text-field v-model="editedItem.mname" label="Mid Name"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md12>
                          <v-text-field v-model="editedItem.designation" label="Designation"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                          <v-text-field v-model="editedItem.telnumber" label="Tel Number"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                          <v-text-field v-model="editedItem.faxnumber" label="Fax Number"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                          <v-text-field v-model="editedItem.email" label="Email"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4>
                          <v-text-field v-model="editedItem.gender" label="Gender"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md12>
                          <label>User type</label>
                          <multiselect
                            v-model="editedItem.user_type"
                            :options="usertypeoptions"
                            :searchable="false"
                            :close-on-select="true"
                            :show-labels="false"
                            placeholder="Pick a value"
                          ></multiselect>
                        </v-flex>
                        <v-flex xs12 sm6 md12 v-if="editedIndex === -1">
                          <label>Agency</label>
                          <multiselect
                            v-model="selectedAgency"
                            :options="agencies"
                            :multiple="false"
                            :close-on-select="true"
                            :clear-on-select="false"
                            :preserve-search="true"
                            placeholder="Type to search"
                            :custom-label="codeWithDesc"
                            track-by="UACS_AGY_DSC"
                            :preselect-first="false"
                            :hide-selected="false"
                            :loading="isLoading"
                            @search-change="asyncFindAgency"
                            @select="getSubmissionID"
                          ></multiselect>
                        </v-flex>
                        <v-flex xs12 sm6 md12 v-if="editedIndex === -1">
                          <v-text-field v-model="editedItem.UACS_AGY_DSC" label="Agency" disabled></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md6 v-if="editedIndex === -1">
                          <v-text-field
                            v-model="editedItem.submissionid"
                            label="Submission ID"
                            disabled
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md6>
                          <v-text-field v-model="editedItem.username" label="Username" disabled></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md6 v-if="editedIndex > -1">
                          <v-text-field v-model="editedItem.password" label="Password"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6 md4 v-if="editedIndex === -1">
                          <div class="white darken-2">
                            <span class="red--text text--darken-2">Note:</span>
                            <span class="grey--text text--darken-2">Default Password:</span>
                            <span class="light-blue--text text--darken-2">password</span>
                          </div>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                    <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <!-- Dialog box End -->
              <!-- Dialog Box -->
              <v-dialog v-model="dialogDisapprove" max-width="800px">
                <v-card>
                  <v-card-title>
                    <span class="headline">Decline Account Request</span>
                  </v-card-title>

                  <v-card-text class="pt-0 mt-0">
                    <v-container grid-list-md class="pt-0 mt-0">
                      <v-layout wrap>
                        <!-- <v-flex xs12 sm6 md4>
                          <v-text-field v-model="editedItem.lname" label="Last name"></v-text-field>
                        </v-flex> -->
                        <v-flex xs12 sm6 md12>
                          <v-radio-group v-model="radioGroup">
                            <v-radio 
                            label="The authorization form uploaded in the PIPOL System Online 
                            Sign-up Sheet is not duly signed by the Head of your Agency.and/or Mother Agency." 
                            :value="1"></v-radio>
                            <v-radio label="The file uploaded in the PIP System Online 
                            Sign-up Sheet does not contain the prescribed authorization form. 
                            Please download the Authorization Form through this link." :value="2"></v-radio>
                            <v-radio label="Others" :value="3"></v-radio>
                          </v-radio-group>
                              <v-text-field v-if="radioGroup === 3" label="Others" class="pt-0 mt-0"
                              v-model="othersDis"></v-text-field>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="closedDisapprove">Cancel</v-btn>
                    <v-btn color="blue darken-1" flat @click="saveDisapprove">Save</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <!-- Dialog box End -->
              <VFlex xs12 sm3 offset-sm9>
                <v-text-field
                  v-model="search"
                  append-icon="search"
                  label="Search"
                  single-line
                  hide-details
                ></v-text-field>
              </VFlex>
            </VLayout>
          </vContainer>
          <v-data-table
            :headers="headers"
            :items="desserts"
            :search="search"
            hideActions
            :pagination.sync="pagination"
            class="elevation-1"
            width="100%"
          >
            <template v-slot:items="props">
              <td class="text-xs-left pl-1">{{ props.item.lname }}</td>
              <td class="text-xs-left pl-1">{{ props.item.fname }}</td>
              <!-- <td class="text-xs-left pl-1">{{ props.item.mname }}</td> -->
              <td class="text-xs-left">{{ props.item.UACS_AGY_DSC }}</td>
              <td class="text-xs-left">{{ props.item.email }}</td>
              <td class="text-xs-left">{{ props.item.telnumber }}</td>
              <td class="text-xs-left">{{ props.item.created_at }}</td>
              <td class="justify-center layout px-0">
                <v-icon small class="mr-2" @click="openauth(props.item)">search</v-icon>
                <v-icon
                  small
                  class="mr-2"
                  v-if="props.item.status !=2"
                  @click="approve(props.item)"
                >thumb_up</v-icon>
                <v-icon small class="mr-2" @click="disapprove(props.item)">thumb_down_alt</v-icon>
                <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
                <v-icon small @click="deleteItem(props.item)">delete</v-icon>
              </td>
            </template>
          </v-data-table>

          <VSpacer/>
          <vContainer fluid>
            <VFlex row>
              <VFlex xs2 pl-2>
                <v-combobox v-model="rowsselected" :items="rows" label="Rows Per Page" hideDetails></v-combobox>
              </VFlex>
              <VSpacer/>
              <v-chip v-if="search == ''" label>
                Showing {{pagination.from}} to {{pagination.to}} of
                {{pagination.totalItems}} entries
              </v-chip>
              <v-chip v-if="search != ''" label>
                Showing {{pagination.totalItems}} of
                {{pagination.totalItems}} entries
              </v-chip>
              <VSpacer/>
              <v-pagination
                v-model="pagination.current"
                :length="pagination.total"
                :total-visible="7"
                @input="onPageChange"
              ></v-pagination>
            </VFlex>
          </vContainer>
        </VFlex>
      </VLayout>
    </vContainer>
    <vue-snotify></vue-snotify>
  </div>
</template>

<script>
import { SnotifyPosition, SnotifyStyle } from "vue-snotify";
import "vue-snotify/styles/material.css";
const mapDuplicate = new Map();
export default {
  name: "userrequest",
  mounted() {
    this.getData();
  },
  props: ["tab"],
  data() {
    return {
      model: "tab-1",
      usertypeoptions: ["AG", "DBM", "NRO", "SS", "IS"],
      dialog: false,
      enabled:false,
      dialogDisapprove: false,
      disapproveitem: {},
      radioGroup: '',
      othersDis:'',
      editedIndexDis: -1,
      editedIndex: -1,
      editedItem: {
        lname: "",
        fname: "",
        mname: "",
        designation: "",
        email: "",
        telnumber: "",
        faxnumber: "",
        username: "",
        password: "",
        UACS_AGY_DSC: "",
        submissionid: "",
        user_type: "AG",
        gender:""
      },
      search: "",
      rows: [5, 10, 15, 25, 100, 1000],
      rowsselected: 100,
      pagination: {
        current: 1,
        total: 0
      },
      selected: [],
      headers: [
        { text: "LNAME", value: "lname", width: "20%" },
        { text: "FNAME", value: "fname", width: "20%" },
        // { text: "MNAME", value: "mname", width: "20%" },
        { text: "AGENCY", value: "UACS_AGY_DSC", width: "30%" },
        { text: "EMAIL", value: "email", width: "30%" },
        { text: "TEL NUMBER", value: "telnumber", width: "1%" },
        { text: "CREATED", value: "created_at", width: "1%" },
        { text: "Actions", value: "name", sortable: false }
      ],
      desserts: [],
      selectedAgency: [],
      agencies: [],
      isLoading: false
    };
  },
  computed: {
    pages() {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      )
        return 0;

      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      );
    },
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
  },
  watch: {
    rowsselected: {
      handler() {
        this.getData();
      },
      deep: true
    },
    tab: {
      handler() {
        this.getData();
      },
      deep: true
    }
  },
  methods: {
    getData() {
      axios
        .get(
          "/userrequest?page=" +
            this.pagination.current +
            "&rows=" +
            this.rowsselected
        )
        .then(res => {
          console.log(res.data.to);
          this.desserts = res.data.data;
          this.pagination.total = res.data.last_page;
          this.pagination.rowsPerPage = res.data.per_page;
          this.pagination.totalItems = res.data.total;
          this.pagination.from = res.data.from;
          this.pagination.to = res.data.to;
          this.pagination.sortBy = "created_at";
          this.pagination.descending = true;
        })
        .catch(err => {
          console.error(err);
        });
    },
    onPageChange() {
      this.getData();
      console.log(this.pagination);
    },
    editItem(item) {
      // console.log(item)
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({ password: "" }, item);
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.desserts.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        axios
          .get("ajax-crud/destroy/" + item.id)
          .then(res => {
            console.log(res);
            this.$snotify.create({
              title: "Deleted!!!",
              body: "Record Deleted",
              config: {
                position: SnotifyPosition.rightTop,
                type: SnotifyStyle.error,
                showProgressBar: false,
                timeout: 2000,
                showProgressBar: true,
                titleMaxLength: 100,
                bodyMaxLength: 100
              }
            });
          })
          .catch(err => {
            console.error(err);
          });
      this.desserts.splice(index, 1);
    },
    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    closedDisapprove() {
      this.dialogDisapprove = false;
      setTimeout(() => {
        this.editedIndexDis = -1;
      }, 300);
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
        axios
          .post("ajax-crud/update", {
            data: this.editedItem
          })
          .then(res => {
            console.log(res.data);
          })
          .catch(err => {
            console.error(err);
          });
      } else {
        axios
          .post("adduserman", {
            user: this.editedItem,
            agency: this.selectedAgency
          })
          .then(res => {
            this.desserts.push({
              lname: res.data.lname,
              fname: res.data.fname,
              mname: res.data.mname,
              designation: res.data.designation,
              email: res.data.email,
              telnumber: res.data.telnumber,
              faxnumber: res.data.faxnumber,
              username: res.data.username,
              UACS_AGY_DSC: this.editedItem.UACS_AGY_DSC,
              submissionid: res.data.submission_id,
              user_type: res.data.user_type,
              id: res.data.id,
              gender: res.data.gender
            });
            this.$snotify.create({
              title: "Success!!!",
              body: "User Added",
              config: {
                position: SnotifyPosition.rightTop,
                type: SnotifyStyle.success,
                showProgressBar: false,
                timeout: 2000,
                showProgressBar: true,
                titleMaxLength: 100,
                bodyMaxLength: 100
              }
            });
          })
          .catch(err => {
            console.error(err);
          });
      }
      this.close();
    },
    approve(item) {
      const index = this.desserts.indexOf(item);
      this.desserts.splice(index, 1);
      confirm("Are you sure you want to approve this user?") &&
        axios
          .get("ajax-crud/approve/" + item.id)
          .then(res => {
            this.$snotify.create({
              title: "Success!!!",
              body: "User Approved",
              config: {
                position: SnotifyPosition.rightTop,
                type: SnotifyStyle.success,
                showProgressBar: false,
                timeout: 2000,
                showProgressBar: true,
                titleMaxLength: 100,
                bodyMaxLength: 100
              }
            });
          })
          .catch(err => {
            console.error(err);
          });
    },
    asyncFindAgency(query) {
      this.isLoading = true;
      axios
        .post("/asyncfindagencysubid", { query })
        .then(res => {
          res.data.forEach(e => {
            if (!mapDuplicate.has(e.id)) {
              mapDuplicate.set(e.id, true);
              this.agencies.push(e);
            }
          });
          this.isLoading = false;
        })
        .catch(err => {
          console.error(err);
        });
    },
    codeWithDesc({ Abbreviation, UACS_AGY_DSC }) {
      return `${UACS_AGY_DSC} — [${Abbreviation}]`;
    },
    getSubmissionID(item) {
      console.log(item);
      this.editedItem.UACS_AGY_DSC = item.UACS_AGY_DSC;
      this.editedItem.username = `${item.Abbreviation}_${
        this.editedItem.lname
      }`;
      axios
        .post("getSubmissionID", { id: item.id })
        .then(res => {
          this.editedItem.submissionid = res.data.id;
          console.log(res.data);
        })
        .catch(err => {
          console.error(err);
        });
    },
    openauth(item) {
      axios
        .post("openauth", { user: item })
        .then(res => {
          // console.log(res.data);
          window.open("/images/" + res.data, "_blank");
        })
        .catch(err => {
          console.error(err);
        });
    },
    disapprove(item) {
      this.editedIndexDis = this.desserts.indexOf(item);
      this.dialogDisapprove = true;
      this.disapproveitem = item
    },
    saveDisapprove() {
      confirm("Are you sure you want to proceed? This action will delete a record.") &&
      axios.post('disapprove',{
        item: this.disapproveitem, 
        option: this.radioGroup, 
        others: this.othersDis})
      .then(res => {
        console.log(res)
        this.desserts.splice(this.editedIndexDis, 1);
        this.dialogDisapprove = false;
        this.$snotify.create({
              title: "Success!!!",
              body: "User Deleted",
              config: {
                position: SnotifyPosition.rightTop,
                type: SnotifyStyle.success,
                showProgressBar: false,
                timeout: 2000,
                showProgressBar: true,
                titleMaxLength: 100,
                bodyMaxLength: 100
              }
            });
      })
      .catch(err => {
        console.error(err); 
      })
    }
  }
};
</script>

<style>
</style>
