

#proj_co_agency {
  display: none;
  overflow-y: scroll;
  border: 1px #dadada solid;
  position: absolute;

}
#proj_co_agency label {
  display: block;
}

.scroll-div-coagency{
  overflow: hidden;
  width: 83%;
  height: 240px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: white;
  position: absolute;
  color: #555;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  bottom: 55%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.flag_tomato{
  color: tomato;
}

.text-project{
  font-size: medium !important;;
}

#proj_coimp_agency {
  display: none;
  overflow-y: scroll;
  border: 1px #dadada solid;
  position: absolute;

}
#proj_coimp_agency label {
  display: block;
}

.scroll-div-coimpagency{
  overflow: hidden;
  width: 83%;
  height: 240px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: white;
  position: absolute;
  color: #555;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  bottom: 55%;
}

span.error_required{
  color: #a94442;
  border-color: #ebccd1;
  padding:1px 20px 1px 20px;
}

.tablewrapper {
    width: 100%;
    font-size: 13px;
}

div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}

.buttons {
  text-align: center;
  align-items: center;
}

.sample{
    /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

.sample2{
    -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Chrome, Safari, Opera */
    transform: scale(2);
}
input[name=chbxFL1], input[name=chbxSL1],
input[name=chbxSL2],
input[name=t2chbxFL1], input[name=t2chbxSL1],
input[name=t2chbxSL2]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

input[name=rdBtnSL3],
input[name=t2rdBtnSL3]
{
   -ms-transform: scale(2); /* IE 9 */
    -webkit-transform: scale(2); /* Chrome, Safari, Opera */
    transform: scale(2);
}

/* your styles go here */
.error-container {
    font-size: 13px;
}

.print-title {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding-top: 10px;
}

.print-tabbed {
  padding-left:  10px;
}