<template>
  <div name="cost">
    <!-- <div class="col-lg-12"> -->
      <div class="card">
        <div class="card-header d-flex align-items-center">
        <h4>
          Project Cost
          <i class="fas fa-flag flag_tomato"></i>
          <br />
          <small class="text-primary">In exact amount in PhP</small>
        </h4>
      </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Financing Source</th>
                  <th v-if="startDate <= 2016">2016 and Prior</th>
                  <th v-if="startDate <= 2017">2017</th>
                  <th v-if="startDate <= 2018">2018</th>
                  <th v-if="startDate <= 2019">2019</th>
                  <th v-if="startDate <= 2020">2020</th>
                  <th v-if="startDate <= 2021">2021</th>
                  <th v-if="startDate <= 2022">2022</th>
                  <th v-if="startDate <= 2022">2017-2022</th>
                  <th v-if="startDate <= 2022">Continuing Years</th>
                  <th>Overall Total</th>
                </tr>
              </thead>
              <tbody>
                <tr v-if="nglocal">
                  <td>NG - Local</td>
                  <td v-if="startDate <= 2016">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-nglocal1 ic_2016"
                      name="Cost_2016_nglocal"
                      @change="nglocalGetTotal"
                      @keypress="onlyNumber"
                      v-model="nglocal2016"
                      :disabled="startDate > 2016 ? true : false"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2017">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-nglocal2 ic_2017"
                      name="Cost_2017_nglocal"
                      @change="nglocalGetTotal"
                      @keypress="onlyNumber"
                      v-model="nglocal2017"
                      :disabled="startDate > 2017 ? true : false"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2018">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-nglocal2 ic_2018"
                      name="Cost_2018_nglocal"
                      @change="nglocalGetTotal"
                      @keypress="onlyNumber"
                      v-model="nglocal2018"
                      :disabled="startDate > 2018 ? true : false"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2019">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-nglocal2 ic_2019"
                      name="Cost_2019_nglocal"
                      @change="nglocalGetTotal"
                      @keypress="onlyNumber"
                      v-model="nglocal2019"
                      :disabled="startDate > 2019 ? true : false"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2020">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-nglocal2 ic_2020"
                      name="Cost_2020_nglocal"
                      @change="nglocalGetTotal"
                      @keypress="onlyNumber"
                      v-model="nglocal2020"
                      :disabled="startDate > 2020 ? true : false"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2021">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-nglocal2 ic_2021"
                      name="Cost_2021_nglocal"
                      @change="nglocalGetTotal"
                      @keypress="onlyNumber"
                      v-model="nglocal2021"
                      :disabled="startDate > 2021 ? true : false"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2022">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-nglocal2 ic_2022"
                      name="Cost_2022_nglocal"
                      @change="nglocalGetTotal"
                      @keypress="onlyNumber"
                      v-model="nglocal2022"
                      :disabled="startDate > 2022 ? true : false"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td>
                    <span class="ic-total2" id="ic-nglocal2_total">{{nglocaltotal}}</span>
                  </td>
                  <td v-if="startDate <= 2022">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-nglocal1 ic_2023"
                      name="Cost_Continuing_nglocal"
                      @change="nglocalGetOverall"
                      @keypress="onlyNumber"
                      v-model="nglocalCont"
                      :disabled="startDate > 2023 ? true : false"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td>
                    <span class="ic-total_all" id="ic-nglocal_total_all">{{nglocalOverall}}</span>
                  </td>
                </tr>
                <tr v-if="ngloan">
                  <td>NG - ODA Loan</td>
                  <td v-if="startDate <= 2016">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-ngloan1 ic_2016"
                      name="Cost_2016_ODA_Loan"
                      @change="ngloanGetTotal"
                      @keypress="onlyNumber"
                      v-model="ngloan2016"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2017">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-ngloan2 ic_2017"
                      name="Cost_2017_ODA_Loan"
                      @change="ngloanGetTotal"
                      @keypress="onlyNumber"
                      v-model="ngloan2017"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2018">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-ngloan2 ic_2018"
                      name="Cost_2018_ODA_Loan"
                      @change="ngloanGetTotal"
                      @keypress="onlyNumber"
                      v-model="ngloan2018"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2019">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-ngloan2 ic_2019"
                      name="Cost_2019_ODA_Loan"
                      @change="ngloanGetTotal"
                      @keypress="onlyNumber"
                      v-model="ngloan2019"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2020">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-ngloan2 ic_2020"
                      name="Cost_2020_ODA_Loan"
                      @change="ngloanGetTotal"
                      @keypress="onlyNumber"
                      v-model="ngloan2020"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2021">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-ngloan2 ic_2021"
                      name="Cost_2021_ODA_Loan"
                      @change="ngloanGetTotal"
                      @keypress="onlyNumber"
                      v-model="ngloan2021"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2022">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-ngloan2 ic_2022"
                      name="Cost_2022_ODA_Loan"
                      @change="ngloanGetTotal"
                      @keypress="onlyNumber"
                      v-model="ngloan2022"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td>
                    <span class="ic-total2" id="ic-ngloan2_total">{{ngloantotal}}</span>
                  </td>
                  <td v-if="startDate <= 2022">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-ngloan1 ic_2023"
                      name="Cost_Continuing_ODA_Loan"
                      @change="ngloanGetOverall"
                      @keypress="onlyNumber"
                      v-model="ngloanCont"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td>
                    <span class="ic-total_all" id="ic-ngloan_total_all">{{ngloanOverall}}</span>
                  </td>
                </tr>
                <tr v-if="nggrant">
                  <td>NG - ODA Grant</td>
                  <td v-if="startDate <= 2016">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-odagrant1 ic_2016"
                      name="Cost_2016_ODA_Grant"
                      @change="nggrantGetTotal"
                      @keypress="onlyNumber"
                      v-model="nggrant2016"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2017">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-odagrant2 ic_2017"
                      name="Cost_2017_ODA_Grant"
                      @change="nggrantGetTotal"
                      @keypress="onlyNumber"
                      v-model="nggrant2017"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2018">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-odagrant2 ic_2018"
                      name="Cost_2018_ODA_Grant"
                      @change="nggrantGetTotal"
                      @keypress="onlyNumber"
                      v-model="nggrant2018"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2019">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-odagrant2 ic_2019"
                      name="Cost_2019_ODA_Grant"
                      @change="nggrantGetTotal"
                      @keypress="onlyNumber"
                      v-model="nggrant2019"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2020">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-odagrant2 ic_2020"
                      name="Cost_2020_ODA_Grant"
                      @change="nggrantGetTotal"
                      @keypress="onlyNumber"
                      v-model="nggrant2020"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2021">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-odagrant2 ic_2021"
                      name="Cost_2021_ODA_Grant"
                      @change="nggrantGetTotal"
                      @keypress="onlyNumber"
                      v-model="nggrant2021"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2022">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-odagrant2 ic_2022"
                      name="Cost_2022_ODA_Grant"
                      @change="nggrantGetTotal"
                      @keypress="onlyNumber"
                      v-model="nggrant2022"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td>
                    <span class="ic-total2" id="ic-odagrant2_total">{{nggranttotal}}</span>
                  </td>
                  <td v-if="startDate <= 2022">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-odagrant1 ic_2023"
                      name="Cost_Continuing_ODA_Grant"
                      @change="nggrantGetOverall"
                      @keypress="onlyNumber"
                      v-model="nggrantCont"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td>
                    <span class="ic-total_all" id="ic-odagrant_total_all">{{nggrantOverall}}</span>
                  </td>
                </tr>
                <tr v-if="gocc">
                  <td>GOCC/GFIs</td>
                  <td v-if="startDate <= 2016">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-gocc1 ic_2016"
                      name="Cost_2016_GOCC"
                      @change="goccGetTotal"
                      @keypress="onlyNumber"
                      v-model="gocc2016"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2017">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-gocc2 ic_2017"
                      name="Cost_2017_GOCC"
                      @change="goccGetTotal"
                      @keypress="onlyNumber"
                      v-model="gocc2017"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2018">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-gocc2 ic_2018"
                      name="Cost_2018_GOCC"
                      @change="goccGetTotal"
                      @keypress="onlyNumber"
                      v-model="gocc2018"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2019">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-gocc2 ic_2019"
                      name="Cost_2019_GOCC"
                      @change="goccGetTotal"
                      @keypress="onlyNumber"
                      v-model="gocc2019"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2020">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-gocc2 ic_2020"
                      name="Cost_2020_GOCC"
                      @change="goccGetTotal"
                      @keypress="onlyNumber"
                      v-model="gocc2020"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2021">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-gocc2 ic_2021"
                      name="Cost_2021_GOCC"
                      @change="goccGetTotal"
                      @keypress="onlyNumber"
                      v-model="gocc2021"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2022">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-gocc2 ic_2022"
                      name="Cost_2022_GOCC"
                      @change="goccGetTotal"
                      @keypress="onlyNumber"
                      v-model="gocc2022"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td>
                    <span class="ic-total2" id="ic-gocc2_total">{{gocctotal}}</span>
                  </td>
                  <td v-if="startDate <= 2022">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-gocc1 ic_2023"
                      name="Cost_Continuing_GOCC"
                      @change="goccGetOverall"
                      @keypress="onlyNumber"
                      v-model="goccCont"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td>
                    <span class="ic-total_all" id="ic-gocc_total_all">{{goccOverall}}</span>
                  </td>
                </tr>
                <tr v-if="nglocal">
                  <td>LGUs</td>
                  <td v-if="startDate <= 2016">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-lgu1 ic_2016"
                      name="Cost_2016_LGU"
                      @change="lguGetTotal"
                      @keypress="onlyNumber"
                      v-model="lgu2016"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2017">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-lgu2 ic_2017"
                      name="Cost_2017_LGU"
                      @change="lguGetTotal"
                      @keypress="onlyNumber"
                      v-model="lgu2017"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2018">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-lgu2 ic_2018"
                      name="Cost_2018_LGU"
                      @change="lguGetTotal"
                      @keypress="onlyNumber"
                      v-model="lgu2018"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2019">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-lgu2 ic_2019"
                      name="Cost_2019_LGU"
                      @change="lguGetTotal"
                      @keypress="onlyNumber"
                      v-model="lgu2019"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2020">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-lgu2 ic_2020"
                      name="Cost_2020_LGU"
                      @change="lguGetTotal"
                      @keypress="onlyNumber"
                      v-model="lgu2020"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2021">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-lgu2 ic_2021"
                      name="Cost_2021_LGU"
                      @change="lguGetTotal"
                      @keypress="onlyNumber"
                      v-model="lgu2021"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2022">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-lgu2 ic_2022"
                      name="Cost_2022_LGU"
                      @change="lguGetTotal"
                      @keypress="onlyNumber"
                      v-model="lgu2022"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td>
                    <span class="ic-total2" id="ic-lgu2_total">{{lgutotal}}</span>
                  </td>
                  <td v-if="startDate <= 2022">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-lgu1 ic_2023"
                      name="Cost_Continuing_LGU"
                      @change="lguGetOverall"
                      @keypress="onlyNumber"
                      v-model="lguCont"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td>
                    <span class="ic-total_all" id="ic-lgu_total_all">{{lguOverall}}</span>
                  </td>
                </tr>
                <tr v-if="privateSector">
                  <td>Private Sector</td>
                  <td v-if="startDate <= 2016">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-ps1 ic_2016"
                      name="Cost_2016_Private_Sector"
                      @change="privateGetTotal"
                      @keypress="onlyNumber"
                      v-model="private2016"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2017">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-ps2 ic_2017"
                      name="Cost_2017_Private_Sector"
                      @change="privateGetTotal"
                      @keypress="onlyNumber"
                      v-model="private2017"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2018">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-ps2 ic_2018"
                      name="Cost_2018_Private_Sector"
                      @change="privateGetTotal"
                      @keypress="onlyNumber"
                      v-model="private2018"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2019">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-ps2 ic_2019"
                      name="Cost_2019_Private_Sector"
                      @change="privateGetTotal"
                      @keypress="onlyNumber"
                      v-model="private2019"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2020">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-ps2 ic_2020"
                      name="Cost_2020_Private_Sector"
                      @change="privateGetTotal"
                      @keypress="onlyNumber"
                      v-model="private2020"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2021">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-ps2 ic_2021"
                      name="Cost_2021_Private_Sector"
                      @change="privateGetTotal"
                      @keypress="onlyNumber"
                      v-model="private2021"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2022">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-ps2 ic_2022"
                      name="Cost_2022_Private_Sector"
                      @change="privateGetTotal"
                      @keypress="onlyNumber"
                      v-model="private2022"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td>
                    <span class="ic-total2" id="ic-ps2_total">{{privatetotal}}</span>
                  </td>
                  <td v-if="startDate <= 2022">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-ps1 ic_2023"
                      name="Cost_Continuing_Private_Sector"
                      @change="privateGetOverall"
                      @keypress="onlyNumber"
                      v-model="privateCont"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td>
                    <span class="ic-total_all" id="ic-ps_total_all">{{privateOverall}}</span>
                  </td>
                </tr>
                <tr v-if="others">
                  <td>Others</td>
                  <td v-if="startDate <= 2016">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-others1 ic_2016"
                      name="Cost_2016_Others"
                      @change="othersGetTotal"
                      @keypress="onlyNumber"
                      v-model="others2016"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2017">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-others2 ic_2017"
                      name="Cost_2017_Others"
                      @change="othersGetTotal"
                      @keypress="onlyNumber"
                      v-model="others2017"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2018">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-others2 ic_2018"
                      name="Cost_2018_Others"
                      @change="othersGetTotal"
                      @keypress="onlyNumber"
                      v-model="others2018"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2019">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-others2 ic_2019"
                      name="Cost_2019_Others"
                      @change="othersGetTotal"
                      @keypress="onlyNumber"
                      v-model="others2019"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2020">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-others2 ic_2020"
                      name="Cost_2020_Others"
                      @change="othersGetTotal"
                      @keypress="onlyNumber"
                      v-model="others2020"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2021">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-others2 ic_2021"
                      name="Cost_2021_Others"
                      @change="othersGetTotal"
                      @keypress="onlyNumber"
                      v-model="others2021"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td v-if="startDate <= 2022">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-others2 ic_2022"
                      name="Cost_2022_Others"
                      @change="othersGetTotal"
                      @keypress="onlyNumber"
                      v-model="others2022"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td>
                    <span class="ic-total2" id="ic-others2_total">{{otherstotal}}</span>
                  </td>
                  <td v-if="startDate <= 2022">
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-others1 ic_2023"
                      name="Cost_Continuing_Others"
                      @change="othersGetOverall"
                      @keypress="onlyNumber"
                      v-model="othersCont"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td>
                    <span class="ic-total_all" id="ic-others_total_all">{{othersOverall}}</span>
                  </td>
                </tr>
                <tr>
                  <th>Total</th>
                  <th v-if="startDate <= 2016">
                    <span id="ic_2016_total">{{total2016}}</span>
                  </th>
                  <th v-if="startDate <= 2017">
                    <span id="ic_2017_total">{{total2017}}</span>
                  </th>
                  <th v-if="startDate <= 2018">
                    <span id="ic_2018_total">{{total2018}}</span>
                  </th>
                  <th v-if="startDate <= 2019">
                    <span id="ic_2019_total">{{total2019}}</span>
                  </th>
                  <th v-if="startDate <= 2020">
                    <span id="ic_2020_total">{{total2020}}</span>
                  </th>
                  <th v-if="startDate <= 2021">
                    <span id="ic_2021_total">{{total2021}}</span>
                  </th>
                  <th v-if="startDate <= 2022">
                    <span id="ic_2022_total">{{total2022}}</span>
                  </th>
                  <th v-if="startDate <= 2022">
                    <span id="ic_total2">{{total16to22}}</span>
                  </th>
                  <th v-if="startDate <= 2022">
                    <span id="ic_2023_total">{{totalCont}}</span>
                  </th>
                  <th>
                    <span id="ic_total_all">{{totalOverall}}</span>
                  </th>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- ERRORS -->
          <!-- NG Local -->
          <span class="text-danger">{{ errors.first('Cost_2016_nglocal') }}</span>
          <br v-if="errors.has('Cost_2016_nglocal')" />
          <span class="text-danger">{{ errors.first('Cost_2017_nglocal') }}</span>
          <br v-if="errors.has('Cost_2017_nglocal')" />
          <span class="text-danger">{{ errors.first('Cost_2018_nglocal') }}</span>
          <br v-if="errors.has('Cost_2018_nglocal')" />
          <span class="text-danger">{{ errors.first('Cost_2019_nglocal') }}</span>
          <br v-if="errors.has('Cost_2019_nglocal')" />
          <span class="text-danger">{{ errors.first('Cost_2020_nglocal') }}</span>
          <br v-if="errors.has('Cost_2020_nglocal')" />
          <span class="text-danger">{{ errors.first('Cost_2021_nglocal') }}</span>
          <br v-if="errors.has('Cost_2021_nglocal')" />
          <span class="text-danger">{{ errors.first('Cost_2022_nglocal') }}</span>
          <br v-if="errors.has('Cost_2022_nglocal')" />
          <span class="text-danger">{{ errors.first('Cost_Continuing_nglocal') }}</span>
          <br v-if="errors.has('Cost_Continuing_nglocal')" />
          <!-- ODA Loan Errors -->
          <span class="text-danger">{{ errors.first('Cost_2016_ODA_Loan') }}</span>
          <br v-if="errors.has('Cost_2016_ODA_Loan')" />
          <span class="text-danger">{{ errors.first('Cost_2017_ODA_Loan') }}</span>
          <br v-if="errors.has('Cost_2017_ODA_Loan')" />
          <span class="text-danger">{{ errors.first('Cost_2018_ODA_Loan') }}</span>
          <br v-if="errors.has('Cost_2018_ODA_Loan')" />
          <span class="text-danger">{{ errors.first('Cost_2019_ODA_Loan') }}</span>
          <br v-if="errors.has('Cost_2019_ODA_Loan')" />
          <span class="text-danger">{{ errors.first('Cost_2020_ODA_Loan') }}</span>
          <br v-if="errors.has('Cost_2020_ODA_Loan')" />
          <span class="text-danger">{{ errors.first('Cost_2021_ODA_Loan') }}</span>
          <br v-if="errors.has('Cost_2021_ODA_Loan')" />
          <span class="text-danger">{{ errors.first('Cost_2022_ODA_Loan') }}</span>
          <br v-if="errors.has('Cost_2022_ODA_Loan')" />
          <span class="text-danger">{{ errors.first('Cost_Continuing_ODA_Loan') }}</span>
          <br v-if="errors.has('Cost_Continuing_ODA_Loan')" />
          <!-- ODA Grant Errors -->
          <span class="text-danger">{{ errors.first('Cost_2016_ODA_Grant') }}</span>
          <br v-if="errors.has('Cost_2016_ODA_Grant')" />
          <span class="text-danger">{{ errors.first('Cost_2017_ODA_Grant') }}</span>
          <br v-if="errors.has('Cost_2017_ODA_Grant')" />
          <span class="text-danger">{{ errors.first('Cost_2018_ODA_Grant') }}</span>
          <br v-if="errors.has('Cost_2018_ODA_Grant')" />
          <span class="text-danger">{{ errors.first('Cost_2019_ODA_Grant') }}</span>
          <br v-if="errors.has('Cost_2019_ODA_Grant')" />
          <span class="text-danger">{{ errors.first('Cost_2020_ODA_Grant') }}</span>
          <br v-if="errors.has('Cost_2020_ODA_Grant')" />
          <span class="text-danger">{{ errors.first('Cost_2021_ODA_Grant') }}</span>
          <br v-if="errors.has('Cost_2021_ODA_Grant')" />
          <span class="text-danger">{{ errors.first('Cost_2022_ODA_Grant') }}</span>
          <br v-if="errors.has('Cost_2022_ODA_Grant')" />
          <span class="text-danger">{{ errors.first('Cost_Continuing_ODA_Grant') }}</span>
          <br v-if="errors.has('Cost_Continuing_ODA_Grant')" />
          <!-- GOCC Errors -->
          <span class="text-danger">{{ errors.first('Cost_2016_GOCC') }}</span>
          <br v-if="errors.has('Cost_2016_GOCC')" />
          <span class="text-danger">{{ errors.first('Cost_2017_GOCC') }}</span>
          <br v-if="errors.has('Cost_2017_GOCC')" />
          <span class="text-danger">{{ errors.first('Cost_2018_GOCC') }}</span>
          <br v-if="errors.has('Cost_2018_GOCC')" />
          <span class="text-danger">{{ errors.first('Cost_2019_GOCC') }}</span>
          <br v-if="errors.has('Cost_2019_GOCC')" />
          <span class="text-danger">{{ errors.first('Cost_2020_GOCC') }}</span>
          <br v-if="errors.has('Cost_2020_GOCC')" />
          <span class="text-danger">{{ errors.first('Cost_2021_GOCC') }}</span>
          <br v-if="errors.has('Cost_2021_GOCC')" />
          <span class="text-danger">{{ errors.first('Cost_2022_GOCC') }}</span>
          <br v-if="errors.has('Cost_2022_GOCC')" />
          <span class="text-danger">{{ errors.first('Cost_Continuing_GOCC') }}</span>
          <br v-if="errors.has('Cost_Continuing_GOCC')" />
          <!-- LGU Errors -->
          <span class="text-danger">{{ errors.first('Cost_2016_LGU') }}</span>
          <br v-if="errors.has('Cost_2016_LGU')" />
          <span class="text-danger">{{ errors.first('Cost_2017_LGU') }}</span>
          <br v-if="errors.has('Cost_2017_LGU')" />
          <span class="text-danger">{{ errors.first('Cost_2018_LGU') }}</span>
          <br v-if="errors.has('Cost_2018_LGU')" />
          <span class="text-danger">{{ errors.first('Cost_2019_LGU') }}</span>
          <br v-if="errors.has('Cost_2019_LGU')" />
          <span class="text-danger">{{ errors.first('Cost_2020_LGU') }}</span>
          <br v-if="errors.has('Cost_2020_LGU')" />
          <span class="text-danger">{{ errors.first('Cost_2021_LGU') }}</span>
          <br v-if="errors.has('Cost_2021_LGU')" />
          <span class="text-danger">{{ errors.first('Cost_2022_LGU') }}</span>
          <br v-if="errors.has('Cost_2022_LGU')" />
          <span class="text-danger">{{ errors.first('Cost_Continuing_LGU') }}</span>
          <br v-if="errors.has('Cost_Continuing_LGU')" />
          <!-- Private Sector -->
          <span class="text-danger">{{ errors.first('Cost_2016_Private_Sector') }}</span>
          <br v-if="errors.has('Cost_2016_Private_Sector')" />
          <span class="text-danger">{{ errors.first('Cost_2017_Private_Sector') }}</span>
          <br v-if="errors.has('Cost_2017_Private_Sector')" />
          <span class="text-danger">{{ errors.first('Cost_2018_Private_Sector') }}</span>
          <br v-if="errors.has('Cost_2018_Private_Sector')" />
          <span class="text-danger">{{ errors.first('Cost_2019_Private_Sector') }}</span>
          <br v-if="errors.has('Cost_2019_Private_Sector')" />
          <span class="text-danger">{{ errors.first('Cost_2020_Private_Sector') }}</span>
          <br v-if="errors.has('Cost_2020_Private_Sector')" />
          <span class="text-danger">{{ errors.first('Cost_2021_Private_Sector') }}</span>
          <br v-if="errors.has('Cost_2021_Private_Sector')" />
          <span class="text-danger">{{ errors.first('Cost_2022_Private_Sector') }}</span>
          <br v-if="errors.has('Cost_2022_Private_Sector')" />
          <span class="text-danger">{{ errors.first('Cost_Continuing_Private_Sector') }}</span>
          <br v-if="errors.has('Cost_Continuing_Private_Sector')" />
          <!-- Others -->
          <span class="text-danger">{{ errors.first('Cost_2016_Others') }}</span>
          <br v-if="errors.has('Cost_2016_Others')" />
          <span class="text-danger">{{ errors.first('Cost_2017_Others') }}</span>
          <br v-if="errors.has('Cost_2017_Others')" />
          <span class="text-danger">{{ errors.first('Cost_2018_Others') }}</span>
          <br v-if="errors.has('Cost_2018_Others')" />
          <span class="text-danger">{{ errors.first('Cost_2019_Others') }}</span>
          <br v-if="errors.has('Cost_2019_Others')" />
          <span class="text-danger">{{ errors.first('Cost_2020_Others') }}</span>
          <br v-if="errors.has('Cost_2020_Others')" />
          <span class="text-danger">{{ errors.first('Cost_2021_Others') }}</span>
          <br v-if="errors.has('Cost_2021_Others')" />
          <span class="text-danger">{{ errors.first('Cost_2022_Others') }}</span>
          <br v-if="errors.has('Cost_2022_Others')" />
          <span class="text-danger">{{ errors.first('Cost_Continuing_Others') }}</span>
          <br v-if="errors.has('Cost_Continuing_Others')" />
        </div>
      </div>
    <!-- </div> -->
  </div>
</template>

<script>
import store from "../../store/storetodb";
export default {
  name: "cost",
  props: ["fundingsource", "it_projects"],
  data() {
    return {
      //NG Local
      nglocal: false,
      nglocal2016: 0,
      nglocal2017: 0,
      nglocal2018: 0,
      nglocal2019: 0,
      nglocal2020: 0,
      nglocal2021: 0,
      nglocal2022: 0,
      nglocaltotal: 0,
      nglocalCont: 0,
      nglocalOverall: 0,
      // ngloan
      ngloan: false,
      ngloan2016: 0,
      ngloan2017: 0,
      ngloan2018: 0,
      ngloan2019: 0,
      ngloan2020: 0,
      ngloan2021: 0,
      ngloan2022: 0,
      ngloantotal: 0,
      ngloanCont: 0,
      ngloanOverall: 0,
      // nggrant
      nggrant: false,
      nggrant2016: 0,
      nggrant2017: 0,
      nggrant2018: 0,
      nggrant2019: 0,
      nggrant2020: 0,
      nggrant2021: 0,
      nggrant2022: 0,
      nggranttotal: 0,
      nggrantCont: 0,
      nggrantOverall: 0,
      // GOCC
      gocc: false,
      gocc2016: 0,
      gocc2017: 0,
      gocc2018: 0,
      gocc2019: 0,
      gocc2020: 0,
      gocc2021: 0,
      gocc2022: 0,
      gocctotal: 0,
      goccCont: 0,
      goccOverall: 0,
      // LGU
      lgu: false,
      lgu2016: 0,
      lgu2017: 0,
      lgu2018: 0,
      lgu2019: 0,
      lgu2020: 0,
      lgu2021: 0,
      lgu2022: 0,
      lgutotal: 0,
      lguCont: 0,
      lguOverall: 0,
      //Private Sector
      privateSector: false,
      private2016: 0,
      private2017: 0,
      private2018: 0,
      private2019: 0,
      private2020: 0,
      private2021: 0,
      private2022: 0,
      privatetotal: 0,
      privateCont: 0,
      privateOverall: 0,
      // Others
      others: false,
      others2016: 0,
      others2017: 0,
      others2018: 0,
      others2019: 0,
      others2020: 0,
      others2021: 0,
      others2022: 0,
      otherstotal: 0,
      othersCont: 0,
      othersOverall: 0,
      // Totals
      total2016: 0,
      total2017: 0,
      total2018: 0,
      total2019: 0,
      total2020: 0,
      total2021: 0,
      total2022: 0,
      total16to22: 0,
      totalCont: 0,
      totalOverall: 0
    };
  },
  mounted() {
    if (this.it_projects != undefined) {
      this.it_projects.forEach(e => {
        if (e.year == 2016) {
          setTimeout(() => {
            this.nglocal2016 = e.local != null ? parseFloat(e.local, 10) : 0
            this.ngloan2016 = e.loan != null ? e.loan : 0
            this.nggrant2016 = e.grant != null ? e.grant : 0
            this.gocc2016 = e.gocc != null ? e.gocc : 0
            this.lgu2016 = e.lgu != null ? e.lgu : 0
            this.private2016 = e.private != null ? e.private : 0
            this.others2016 = e.others != null ? e.others : 0
          }, 500);
        }
        if (e.year == 2017) {
          setTimeout(() => {
            this.nglocal2017 = e.local != null ? parseFloat(e.local, 10) : 0
            this.ngloan2017 = e.loan != null ? e.loan : 0
            this.nggrant2017 = e.grant != null ? e.grant : 0
            this.gocc2017 = e.gocc != null ? e.gocc : 0
            this.lgu2017 = e.lgu != null ? e.lgu : 0
            this.private2017 = e.private != null ? e.private : 0
            this.others2017 = e.others != null ? e.others : 0
          }, 500);
        }
        if (e.year == 2018) {
          setTimeout(() => {
            this.nglocal2018 = e.local != null ? parseFloat(e.local, 10) : 0
            this.ngloan2018 = e.loan != null ? e.loan : 0
            this.nggrant2018 = e.grant != null ? e.grant : 0
            this.gocc2018 = e.gocc != null ? e.gocc : 0
            this.lgu2018 = e.lgu != null ? e.lgu : 0
            this.private2018 = e.private != null ? e.private : 0
            this.others2018 = e.others != null ? e.others : 0
          }, 500);
        }
        if (e.year == 2019) {
          setTimeout(() => {
            this.nglocal2019 = e.local != null ? parseFloat(e.local, 10) : 0
            this.ngloan2019 = e.loan != null ? e.loan : 0
            this.nggrant2019 = e.grant != null ? e.grant : 0
            this.gocc2019 = e.gocc != null ? e.gocc : 0
            this.lgu2019 = e.lgu != null ? e.lgu : 0
            this.private2019 = e.private != null ? e.private : 0
            this.others2019 = e.others != null ? e.others : 0
          }, 500);
        }
        if (e.year == 2020) {
          setTimeout(() => {
            this.nglocal2020 = e.local != null ? parseFloat(e.local, 10) : 0
            this.ngloan2020 = e.loan != null ? e.loan : 0
            this.nggrant2020 = e.grant != null ? e.grant : 0
            this.gocc2020 = e.gocc != null ? e.gocc : 0
            this.lgu2020 = e.lgu != null ? e.lgu : 0
            this.private2020 = e.private != null ? e.private : 0
            this.others2020 = e.others != null ? e.others : 0
          }, 500);
        }
        if (e.year == 2021) {
          setTimeout(() => {
            this.nglocal2021 = e.local != null ? parseFloat(e.local, 10) : 0
            this.ngloan2021 = e.loan != null ? e.loan : 0
            this.nggrant2021 = e.grant != null ? e.grant : 0
            this.gocc2021 = e.gocc != null ? e.gocc : 0
            this.lgu2021 = e.lgu != null ? e.lgu : 0
            this.private2021 = e.private != null ? e.private : 0
            this.others2021 = e.others != null ? e.others : 0
          }, 500);
        }
        if (e.year == 2022) {
          setTimeout(() => {
            this.nglocal2022 = e.local != null ? parseFloat(e.local, 10) : 0
            this.ngloan2022 = e.loan != null ? e.loan : 0
            this.nggrant2022 = e.grant != null ? e.grant : 0
            this.gocc2022 = e.gocc != null ? e.gocc : 0
            this.lgu2022 = e.lgu != null ? e.lgu : 0
            this.private2022 = e.private != null ? e.private : 0
            this.others2022 = e.others != null ? e.others : 0
          }, 500);
        }
        if (e.year == 2023) {
          setTimeout(() => {
            this.nglocalCont = e.local != null ? parseFloat(e.local, 10) : 0
            this.ngloanCont = e.loan != null ? e.loan : 0
            this.nggrantCont = e.grant != null ? e.grant : 0
            this.goccCont = e.gocc != null ? e.gocc : 0
            this.lguCont = e.lgu != null ? e.lgu : 0
            this.privateCont = e.private != null ? e.private : 0
            this.othersCont = e.others != null ? e.others : 0
            this.nglocalGetTotal()
            this.ngloanGetTotal()
            this.nggrantGetTotal()
            this.goccGetTotal()
            this.lguGetTotal()
            this.privateGetTotal()
            this.othersGetTotal()
          }, 500);
        }
      })
    }
  },
  computed: {
    startDate: function() {
      return store.state.startYear;
    },
    endDate() {
      return store.state.endYear;
    }
  },
  watch: {
    nglocal2016() {
      return (this.nglocal2016 = parseFloat(this.nglocal2016, 10));
    },
    fundingsource() {
      (this.nglocal = false),
        (this.nglocal2016 = 0),
        (this.nglocal2017 = 0),
        (this.nglocal2018 = 0),
        (this.nglocal2019 = 0),
        (this.nglocal2020 = 0),
        (this.nglocal2021 = 0),
        (this.nglocal2022 = 0),
        (this.nglocaltotal = 0),
        (this.nglocalCont = 0),
        (this.nglocalOverall = 0),
        // ngloan
        (this.ngloan = false),
        (this.ngloan2016 = 0),
        (this.ngloan2017 = 0),
        (this.ngloan2018 = 0),
        (this.ngloan2019 = 0),
        (this.ngloan2020 = 0),
        (this.ngloan2021 = 0),
        (this.ngloan2022 = 0),
        (this.ngloantotal = 0),
        (this.ngloanCont = 0),
        (this.ngloanOverall = 0),
        // nggrant
        (this.nggrant = false),
        (this.nggrant2016 = 0),
        (this.nggrant2017 = 0),
        (this.nggrant2018 = 0),
        (this.nggrant2019 = 0),
        (this.nggrant2020 = 0),
        (this.nggrant2021 = 0),
        (this.nggrant2022 = 0),
        (this.nggranttotal = 0),
        (this.nggrantCont = 0),
        (this.nggrantOverall = 0),
        // GOCC
        (this.gocc = false),
        (this.gocc2016 = 0),
        (this.gocc2017 = 0),
        (this.gocc2018 = 0),
        (this.gocc2019 = 0),
        (this.gocc2020 = 0),
        (this.gocc2021 = 0),
        (this.gocc2022 = 0),
        (this.gocctotal = 0),
        (this.goccCont = 0),
        (this.goccOverall = 0),
        // LGU
        (this.lgu = false),
        (this.lgu2016 = 0),
        (this.lgu2017 = 0),
        (this.lgu2018 = 0),
        (this.lgu2019 = 0),
        (this.lgu2020 = 0),
        (this.lgu2021 = 0),
        (this.lgu2022 = 0),
        (this.lgutotal = 0),
        (this.lguCont = 0),
        (this.lguOverall = 0),
        //Private Sector
        (this.privateSector = false),
        (this.private2016 = 0),
        (this.private2017 = 0),
        (this.private2018 = 0),
        (this.private2019 = 0),
        (this.private2020 = 0),
        (this.private2021 = 0),
        (this.private2022 = 0),
        (this.privatetotal = 0),
        (this.privateCont = 0),
        (this.privateOverall = 0),
        // Others
        (this.others = false),
        (this.others2016 = 0),
        (this.others2017 = 0),
        (this.others2018 = 0),
        (this.others2019 = 0),
        (this.others2020 = 0),
        (this.others2021 = 0),
        (this.others2022 = 0),
        (this.otherstotal = 0),
        (this.othersCont = 0),
        (this.othersOverall = 0),
        // Totals
        (this.total2016 = 0),
        (this.total2017 = 0),
        (this.total2018 = 0),
        (this.total2019 = 0),
        (this.total2020 = 0),
        (this.total2021 = 0),
        (this.total2022 = 0),
        (this.total16to22 = 0),
        (this.totalCont = 0),
        (this.totalOverall = 0);
      // this.nglocal = false
      // this.ngloan = false
      // this.nggrant = false
      // this.gocc = false
      // this.lgu = false
      // this.private = false
      // this.others = false
      this.getFS();
    }
  },
  methods: {
    getFS() {
      setTimeout(() => {
        if (this.fundingsource.length === 0) {
          this.nglocal = false;
          this.ngloan = false;
          this.nggrant = false;
          this.gocc = false;
          this.lgu = false;
          this.privateSector = false;
          this.others = false;
        }
      }, 500);
      if (this.fundingsource.includes(1)) {
        this.nglocal = true;
      }
      if (this.fundingsource.includes(2)) {
        this.ngloan = true;
      }
      if (this.fundingsource.includes(3)) {
        this.nggrant = true;
      }
      if (this.fundingsource.includes(4)) {
        this.gocc = true;
      }
      // if (this.fundingsource.includes(5)) {
      //   this.lgu = true;
      // }
      if (this.fundingsource.includes(5)) {
        this.privateSector = true;
      }
      if (this.fundingsource.includes(6)) {
        this.others = true;
      }
    },
    onlyNumber($event) {
      //   console.log($event.keyCode); //keyCodes value
      let keyCode = $event.keyCode ? $event.keyCode : $event.which;
      if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) {
        // 46 is dot
        $event.preventDefault();
      }
    },
    nglocalGetTotal() {
      this.nglocal2016 = parseFloat(this.nglocal2016, 10);
      this.nglocal2017 = parseFloat(this.nglocal2017, 10);
      this.nglocal2018 = parseFloat(this.nglocal2018, 10);
      this.nglocal2019 = parseFloat(this.nglocal2019, 10);
      this.nglocal2020 = parseFloat(this.nglocal2020, 10);
      this.nglocal2021 = parseFloat(this.nglocal2021, 10);
      this.nglocal2022 = parseFloat(this.nglocal2022, 10);
      this.nglocaltotal =
        this.nglocal2016 +
        this.nglocal2017 +
        this.nglocal2018 +
        this.nglocal2019 +
        this.nglocal2020 +
        this.nglocal2021 +
        this.nglocal2022;
      this.nglocalGetOverall();
      this.getTotals2016();
      this.getTotals2017();
      this.getTotals2018();
      this.getTotals2019();
      this.getTotals2020();
      this.getTotals2021();
      this.getTotals2022();
      this.getTotals16to22();
      this.getTotalCont();
      this.getTotalOverall();
    },
    nglocalGetOverall() {
      this.nglocalCont = parseFloat(this.nglocalCont, 10);
      this.nglocalOverall =
        this.nglocal2016 +
        this.nglocal2017 +
        this.nglocal2018 +
        this.nglocal2019 +
        this.nglocal2020 +
        this.nglocal2021 +
        this.nglocal2022 +
        this.nglocalCont;
      this.getTotalCont();
      this.getTotalOverall();
    },
    ngloanGetTotal() {
      this.ngloan2016 = parseFloat(this.ngloan2016, 10);
      this.ngloan2017 = parseFloat(this.ngloan2017, 10);
      this.ngloan2018 = parseFloat(this.ngloan2018, 10);
      this.ngloan2019 = parseFloat(this.ngloan2019, 10);
      this.ngloan2020 = parseFloat(this.ngloan2020, 10);
      this.ngloan2021 = parseFloat(this.ngloan2021, 10);
      this.ngloan2022 = parseFloat(this.ngloan2022, 10);
      this.ngloantotal =
        this.ngloan2016 +
        this.ngloan2017 +
        this.ngloan2018 +
        this.ngloan2019 +
        this.ngloan2020 +
        this.ngloan2021 +
        this.ngloan2022;
      this.ngloanGetOverall();
      this.getTotals2016();
      this.getTotals2017();
      this.getTotals2018();
      this.getTotals2019();
      this.getTotals2020();
      this.getTotals2021();
      this.getTotals2022();
      this.getTotals16to22();
      this.getTotalCont();
      this.getTotalOverall();
    },
    ngloanGetOverall() {
      this.ngloanCont = parseFloat(this.ngloanCont, 10);
      this.ngloanOverall =
        this.ngloan2016 +
        this.ngloan2017 +
        this.ngloan2018 +
        this.ngloan2019 +
        this.ngloan2020 +
        this.ngloan2021 +
        this.ngloan2022 +
        this.ngloanCont;
      this.getTotalCont();
      this.getTotalOverall();
    },
    nggrantGetTotal() {
      this.nggrant2016 = parseFloat(this.nggrant2016, 10);
      this.nggrant2017 = parseFloat(this.nggrant2017, 10);
      this.nggrant2018 = parseFloat(this.nggrant2018, 10);
      this.nggrant2019 = parseFloat(this.nggrant2019, 10);
      this.nggrant2020 = parseFloat(this.nggrant2020, 10);
      this.nggrant2021 = parseFloat(this.nggrant2021, 10);
      this.nggrant2022 = parseFloat(this.nggrant2022, 10);
      this.nggranttotal =
        this.nggrant2016 +
        this.nggrant2017 +
        this.nggrant2018 +
        this.nggrant2019 +
        this.nggrant2020 +
        this.nggrant2021 +
        this.nggrant2022;
      this.nggrantGetOverall();
      this.getTotals2016();
      this.getTotals2017();
      this.getTotals2018();
      this.getTotals2019();
      this.getTotals2020();
      this.getTotals2021();
      this.getTotals2022();
      this.getTotals16to22();
      this.getTotalCont();
      this.getTotalOverall();
    },
    nggrantGetOverall() {
      this.nggrantCont = parseFloat(this.nggrantCont, 10);
      this.nggrantOverall =
        this.nggrant2016 +
        this.nggrant2017 +
        this.nggrant2018 +
        this.nggrant2019 +
        this.nggrant2020 +
        this.nggrant2021 +
        this.nggrant2022 +
        this.nggrantCont;
      this.getTotalCont();
      this.getTotalOverall();
    },
    goccGetTotal() {
      this.gocc2016 = parseFloat(this.gocc2016, 10);
      this.gocc2017 = parseFloat(this.gocc2017, 10);
      this.gocc2018 = parseFloat(this.gocc2018, 10);
      this.gocc2019 = parseFloat(this.gocc2019, 10);
      this.gocc2020 = parseFloat(this.gocc2020, 10);
      this.gocc2021 = parseFloat(this.gocc2021, 10);
      this.gocc2022 = parseFloat(this.gocc2022, 10);
      this.gocctotal =
        this.gocc2016 +
        this.gocc2017 +
        this.gocc2018 +
        this.gocc2019 +
        this.gocc2020 +
        this.gocc2021 +
        this.gocc2022;
      this.goccGetOverall();
      this.getTotals2016();
      this.getTotals2017();
      this.getTotals2018();
      this.getTotals2019();
      this.getTotals2020();
      this.getTotals2021();
      this.getTotals2022();
      this.getTotals16to22();
      this.getTotalCont();
      this.getTotalOverall();
    },
    goccGetOverall() {
      this.goccCont = parseFloat(this.goccCont, 10);
      this.goccOverall =
        this.gocc2016 +
        this.gocc2017 +
        this.gocc2018 +
        this.gocc2019 +
        this.gocc2020 +
        this.gocc2021 +
        this.gocc2022 +
        this.goccCont;
      this.getTotalCont();
      this.getTotalOverall();
    },
    lguGetTotal() {
      this.lgu2016 = parseFloat(this.lgu2016, 10);
      this.lgu2017 = parseFloat(this.lgu2017, 10);
      this.lgu2018 = parseFloat(this.lgu2018, 10);
      this.lgu2019 = parseFloat(this.lgu2019, 10);
      this.lgu2020 = parseFloat(this.lgu2020, 10);
      this.lgu2021 = parseFloat(this.lgu2021, 10);
      this.lgu2022 = parseFloat(this.lgu2022, 10);
      this.lgutotal =
        this.lgu2016 +
        this.lgu2017 +
        this.lgu2018 +
        this.lgu2019 +
        this.lgu2020 +
        this.lgu2021 +
        this.lgu2022;
      this.lguGetOverall();
      this.getTotals2016();
      this.getTotals2017();
      this.getTotals2018();
      this.getTotals2019();
      this.getTotals2020();
      this.getTotals2021();
      this.getTotals2022();
      this.getTotals16to22();
      this.getTotalCont();
      this.getTotalOverall();
    },
    lguGetOverall() {
      this.lguCont = parseFloat(this.lguCont, 10);
      this.lguOverall =
        this.lgu2016 +
        this.lgu2017 +
        this.lgu2018 +
        this.lgu2019 +
        this.lgu2020 +
        this.lgu2021 +
        this.lgu2022 +
        this.lguCont;
      this.getTotalCont();
    },
    privateGetTotal() {
      this.private2016 = parseFloat(this.private2016, 10);
      this.private2017 = parseFloat(this.private2017, 10);
      this.private2018 = parseFloat(this.private2018, 10);
      this.private2019 = parseFloat(this.private2019, 10);
      this.private2020 = parseFloat(this.private2020, 10);
      this.private2021 = parseFloat(this.private2021, 10);
      this.private2022 = parseFloat(this.private2022, 10);
      this.privatetotal =
        this.private2016 +
        this.private2017 +
        this.private2018 +
        this.private2019 +
        this.private2020 +
        this.private2021 +
        this.private2022;
      this.privateGetOverall();
      this.getTotals2016();
      this.getTotals2017();
      this.getTotals2018();
      this.getTotals2019();
      this.getTotals2020();
      this.getTotals2021();
      this.getTotals2022();
      this.getTotals16to22();
      this.getTotalCont();
      this.getTotalOverall();
    },
    privateGetOverall() {
      this.privateCont = parseFloat(this.privateCont, 10);
      this.privateOverall =
        this.private2016 +
        this.private2017 +
        this.private2018 +
        this.private2019 +
        this.private2020 +
        this.private2021 +
        this.private2022 +
        this.privateCont;
      this.getTotalCont();
      this.getTotalOverall();
    },
    othersGetTotal() {
      this.others2016 = parseFloat(this.others2016, 10);
      this.others2017 = parseFloat(this.others2017, 10);
      this.others2018 = parseFloat(this.others2018, 10);
      this.others2019 = parseFloat(this.others2019, 10);
      this.others2020 = parseFloat(this.others2020, 10);
      this.others2021 = parseFloat(this.others2021, 10);
      this.others2022 = parseFloat(this.others2022, 10);
      this.otherstotal =
        this.others2016 +
        this.others2017 +
        this.others2018 +
        this.others2019 +
        this.others2020 +
        this.others2021 +
        this.others2022;
      this.othersGetOverall();
      this.getTotals2016();
      this.getTotals2017();
      this.getTotals2018();
      this.getTotals2019();
      this.getTotals2020();
      this.getTotals2021();
      this.getTotals2022();
      this.getTotals16to22();
      this.getTotalCont();
      this.getTotalOverall();
    },
    othersGetOverall() {
      this.othersCont = parseFloat(this.othersCont, 10);
      this.othersOverall =
        this.others2016 +
        this.others2017 +
        this.others2018 +
        this.others2019 +
        this.others2020 +
        this.others2021 +
        this.others2022 +
        this.othersCont;
      this.getTotalCont();
      this.getTotalOverall();
    },
    getTotals2016() {
      this.total2016 =
        this.nglocal2016 +
        this.ngloan2016 +
        this.nggrant2016 +
        this.gocc2016 +
        this.lgu2016 +
        this.private2016 +
        this.others2016;
    },
    getTotals2017() {
      this.total2017 =
        this.nglocal2017 +
        this.ngloan2017 +
        this.nggrant2017 +
        this.gocc2017 +
        this.lgu2017 +
        this.private2017 +
        this.others2017;
    },
    getTotals2018() {
      this.total2018 =
        this.nglocal2018 +
        this.ngloan2018 +
        this.nggrant2018 +
        this.gocc2018 +
        this.lgu2018 +
        this.private2018 +
        this.others2018;
    },
    getTotals2019() {
      this.total2019 =
        this.nglocal2019 +
        this.ngloan2019 +
        this.nggrant2019 +
        this.gocc2019 +
        this.lgu2019 +
        this.private2019 +
        this.others2019;
    },
    getTotals2020() {
      this.total2020 =
        this.nglocal2020 +
        this.ngloan2020 +
        this.nggrant2020 +
        this.gocc2020 +
        this.lgu2020 +
        this.private2020 +
        this.others2020;
    },
    getTotals2021() {
      this.total2021 =
        this.nglocal2021 +
        this.ngloan2021 +
        this.nggrant2021 +
        this.gocc2021 +
        this.lgu2021 +
        this.private2021 +
        this.others2021;
    },
    getTotals2022() {
      this.total2022 =
        this.nglocal2022 +
        this.ngloan2022 +
        this.nggrant2022 +
        this.gocc2022 +
        this.lgu2022 +
        this.private2022 +
        this.others2022;
    },
    getTotals16to22() {
      this.total16to22 =
        this.nglocaltotal +
        this.ngloantotal +
        this.nggranttotal +
        this.gocctotal +
        this.lgutotal +
        this.privatetotal +
        this.otherstotal;
    },
    getTotalCont() {
      this.totalCont =
        this.nglocalCont +
        this.ngloanCont +
        this.nggrantCont +
        this.goccCont +
        this.lguCont +
        this.privateCont +
        this.othersCont;
    },
    getTotalOverall() {
      this.totalOverall =
        this.nglocaltotal +
        this.ngloantotal +
        this.nggranttotal +
        this.gocctotal +
        this.lgutotal +
        this.privatetotal +
        this.otherstotal +
        this.totalCont;
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.savetostore();
          return;
        }

        // alert("Fill up the required fields! Project Cost");
      });
    },
    savetostore() {
      store.dispatch('UpdateProjectCostData', {
        nglocal2016: this.nglocal2016,
        nglocal2017: this.nglocal2017,
        nglocal2018: this.nglocal2018,
        nglocal2019: this.nglocal2019,
        nglocal2020: this.nglocal2020,
        nglocal2021: this.nglocal2021,
        nglocal2022: this.nglocal2022,
        nglocaltotal: this.nglocaltotal,
        nglocalCont: this.nglocalCont,
        nglocalOverall: this.nglocalOverall,
        ngloan2016: this.ngloan2016,
        ngloan2017: this.ngloan2017,
        ngloan2018: this.ngloan2018,
        ngloan2019: this.ngloan2019,
        ngloan2020: this.ngloan2020,
        ngloan2021: this.ngloan2021,
        ngloan2022: this.ngloan2022,
        ngloantotal: this.ngloantotal,
        ngloanCont: this.ngloanCont,
        ngloanOverall: this.ngloanOverall,
        nggrant2016: this.nggrant2016,
        nggrant2017: this.nggrant2017,
        nggrant2018: this.nggrant2018,
        nggrant2019: this.nggrant2019,
        nggrant2020: this.nggrant2020,
        nggrant2021: this.nggrant2021,
        nggrant2022: this.nggrant2022,
        nggranttotal: this.nggranttotal,
        nggrantCont: this.nggrantCont,
        nggrantOverall: this.nggrantOverall,
        gocc2016: this.gocc2016,
        gocc2017: this.gocc2017,
        gocc2018: this.gocc2018,
        gocc2019: this.gocc2019,
        gocc2020: this.gocc2020,
        gocc2021: this.gocc2021,
        gocc2022: this.gocc2022,
        gocctotal: this.gocctotal,
        goccCont: this.goccCont,
        goccOverall: this.goccOverall,
        lgu2016: this.lgu2016,
        lgu2017: this.lgu2017,
        lgu2018: this.lgu2018,
        lgu2019: this.lgu2019,
        lgu2020: this.lgu2020,
        lgu2021: this.lgu2021,
        lgu2022: this.lgu2022,
        lgutotal: this.lgutotal,
        lguCont: this.lguCont,
        lguOverall: this.lguOverall,
        private2016: this.private2016,
        private2017: this.private2017,
        private2018: this.private2018,
        private2019: this.private2019,
        private2020: this.private2020,
        private2021: this.private2021,
        private2022: this.private2022,
        privatetotal: this.privatetotal,
        privateCont: this.privateCont,
        privateOverall: this.privateOverall,
        others2016: this.others2016,
        others2017: this.others2017,
        others2018: this.others2018,
        others2019: this.others2019,
        others2020: this.others2020,
        others2021: this.others2021,
        others2022: this.others2022,
        otherstotal: this.otherstotal,
        othersCont: this.othersCont,
        othersOverall: this.othersOverall,
        total2016: this.total2016,
        total2017: this.total2017,
        total2018: this.total2018,
        total2019: this.total2019,
        total2020: this.total2020,
        total2021: this.total2021,
        total2022: this.total2022,
        total16to22: this.total16to22,
        totalCont: this.totalCont,
        totalOverall: this.totalOverall
      })
    }
  }
};
</script>

<style>
</style>
