<template>
  <div name="datepicker">
    <v-layout row wrap>
      <v-flex xs11 sm5>
        <v-menu
          ref="menu"
          v-model="menu"
          :close-on-content-click="false"
          :nudge-right="40"
          :return-value.sync="date"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field v-model="date" :label="label" prepend-icon="event" readonly v-on="on"></v-text-field>
          </template>
          <v-date-picker
            v-model="date"
            no-title
            scrollable
            :min="dateMinimum"
            :max="dateMaximum"
          >
            <v-spacer></v-spacer>
            <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
            <!-- <v-btn flat color="primary" @click="$refs.menu.save(date)">OK</v-btn> -->
            <v-btn flat color="primary" @click="savedata(date)">OK</v-btn>
          </v-date-picker>
          <!-- <v-date-picker
            v-model="date"
            type="month"
            no-title
            scrollable
            :min="dateMinimum"
            :max="dateMaximum"
          >
            <v-spacer></v-spacer>
            <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
            <v-btn flat color="primary" @click="savedata(date)">OK</v-btn>
          </v-date-picker> -->
        </v-menu>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import store from "../../store/index";

export default {
  name: "datepicker",
  props: ["type", "editdate"],
  data() {
    return {
      dateMinimum: "",
      dateMaximum: "",
      // date: new Date().toISOString().substr(0, 7), month only
      date: new Date().toISOString().substr(0, 10),
      menu: false,
      modal: false
    };
  },
  computed: {
    label() {
      if (this.type == "ICCNBradio1") {
        return "Target Date of Submission";
      } else if (this.type == "ICCNBradio2") {
        return "Date of Submission to NEDA Secretariat";
      } else if (this.type == "ICCNBradio3") {
        return "Date of Endorsement";
      } else if (this.type == "ICCNBradio4") {
        return "Date of Approval";
      } else {
        return "Date of Confirmation";
      }
    }
  },
  watch: {
    type: function() {
      if (this.type == "ICCNBradio1") {
        this.dateMinimum = this.date;
        this.dateMaximum = "";
      }
      if (this.type == "ICCNBradio2") {
        this.dateMinimum = "";
        this.dateMaximum = this.date;
      }
      if (this.type == "ICCNBradio3") {
        this.dateMinimum = "";
        this.dateMaximum = this.date;
      }
      if (this.type == "ICCNBradio4") {
        this.dateMinimum = "";
        this.dateMaximum = this.date;
      }
      if (this.type == "ICCNBradio5") {
        this.dateMinimum = "";
        this.dateMaximum = this.date;
      }
    }
  },
  created() {
    if (this.editdate != "") {
      this.date = this.editdate
    }else {
      this.date = new Date().toISOString().substr(0, 10)
    }
  },
  methods: {
    savedata(date) {
      this.$refs.menu.save(date);
      this.$emit("created", this.date);
      store.dispatch("UpdateLevelOfApprovalDate", { date, type: this.type });
    }
  },
  mounted() {
    this.$emit("created", this.date);
    if (this.type == "ICCNBradio1") {
      this.dateMinimum = this.date;
      this.dateMaximum = "";
    }
    if (this.type == "ICCNBradio3") {
      this.dateMinimum = "";
      this.dateMaximum = this.date;
    }
    if (this.type == "ICCNBradio4") {
      this.dateMinimum = "";
      this.dateMaximum = this.date;
    }
    if (this.type == "ICCNBradio5") {
      this.dateMinimum = "";
      this.dateMaximum = this.date;
    }
  }
};
</script>

<style>
</style>
