<template>
    <div name="formsubmit">
        <div class="row" id=menu>
        <div class="col-lg-12">
              <div class="card">
                <div class="card-header d-flex align-items-center">
                  <h4>Finalize</h4>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                      <div class="col-sm-4 offset-sm-2">
                        <button 
                            type="button" 
                            class="btn btn-secondary btn-sm" 
                            name="statusofsubmission" 
                            value="Draft" @click.prevent="draft" 
                            >
                            &nbsp;&nbsp;&nbsp;&nbsp;Save as Draft&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        <button 
                            type="submit" 
                            class="btn btn-primary btn-sm" 
                            name="statusofsubmission" 
                            value="Endorsed" 
                            @click.prevent="final" >
                            Save as Endorsed
                        </button>
                      </div>
                    </div>
                </div>
              </div>
        </div>
      </div>
    </div>
</template>

<script>
import store from "../../store/storetodb";
export default {
    name:"formsubmit",
    methods: {
      draft() {
         this.$emit('saveDraft')
      },
      final() {
        this.$emit('validate_all')
      }
    }
}
</script>

<style>

</style>
