<template>
  <div name="genericcosttable">
    <div class="card">
      <div class="card-body">
          <label class="col-sm-12 form-control-label">
              {{tableLabel}}
            </label>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>2017</th>
                <th>2018</th>
                <th>2019</th>
                <th>2020</th>
                <th>2021</th>
                <th>2022</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="number" class="form-control" name="_2017" v-model="gen_2017" />
                </td>
                <td>
                  <input type="number" class="form-control" name="_2018" v-model="gen_2018" />
                </td>
                <td>
                  <input type="number" class="form-control" name="_2019" v-model="gen_2019" />
                </td>
                <td>
                  <input type="number" class="form-control" name="_2020" v-model="gen_2020" />
                </td>
                <td>
                  <input type="number" class="form-control" name="_2021" v-model="gen_2021" />
                </td>
                <td>
                  <input type="number" class="form-control" name="_2022" v-model="gen_2022" />
                </td>
                <td>{{gen_total}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "genericcosttable",
  props:[
    'type',
    'rowa2_2017',
    'rowa2_2018',
    'rowa2_2019',
    'rowa2_2020',
    'rowa2_2021',
    'rowa2_2022',
  ],
  data() {
    return {
      gen_2017: 0,
      gen_2018: 0,
      gen_2019: 0,
      gen_2020: 0,
      gen_2021: 0,
     gen_2022: 0,
     gen_total: 0,
     tableLabel:""
    };
  },
  mounted () {
      if (this.type == "preconstructionROWA2") {
          this.tableLabel = "Schedule of Resettlement Cost (In Exact Amount in PhP)"
      }
      this.gen_2017 = this.rowa2_2017
      this.gen_2018 = this.rowa2_2018
      this.gen_2019 = this.rowa2_2019
      this.gen_2020 = this.rowa2_2020
      this.gen_2021 = this.rowa2_2021
      this.gen_2021 = this.rowa2_2021
      this.gen_2022 = this.rowa2_2022
  },
   watch: {
    gen_2017() {
      this.getTotal();
    },
    gen_2018() {
      this.getTotal();
    },
    gen_2019() {
      this.getTotal();
    },
    gen_2020() {
      this.getTotal();
    },
    gen_2021() {
      this.getTotal();
    },
    gen_2022() {
      this.getTotal();
    },
    gen_total() {
        if (this.type == "preconstructionROWA1") {
            this.$emit('getDataROne', {
            gen_2017: this.gen_2017, 
            gen_2018: this.gen_2018,
            gen_2019: this.gen_2019,
            gen_2020: this.gen_2020,
            gen_2021: this.gen_2021,
            gen_2022: this.gen_2022,
            gen_total: this.gen_total
            })
        }
        if (this.type == "preconstructionROWA2") {
            this.$emit('getDataRTwo', {
            gen_2017: this.gen_2017, 
            gen_2018: this.gen_2018,
            gen_2019: this.gen_2019,
            gen_2020: this.gen_2020,
            gen_2021: this.gen_2021,
            gen_2022: this.gen_2022,
            gen_total: this.gen_total
            })
        }
    }
  },
  methods: {
    getTotal() {
      this.gen_2017 = parseFloat(this.gen_2017, 10);
      this.gen_2018 = parseFloat(this.gen_2018, 10);
      this.gen_2019 = parseFloat(this.gen_2019, 10);
      this.gen_2020 = parseFloat(this.gen_2020, 10);
      this.gen_2021 = parseFloat(this.gen_2021, 10);
      this.gen_2022 = parseFloat(this.gen_2022, 10);
      this.gen_total =
        this.gen_2017 +
        this.gen_2018 +
        this.gen_2019 +
        this.gen_2020 +
        this.gen_2021 +
        this.gen_2022;
    }
  }
};
</script>

<style>
</style>
