<template>
  <div name="geninfo">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h4>General Information</h4>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-sm-2 control-label" for="title">
            Project Title
            <i class="fas fa-flag flag_tomato"></i>
          </label>
          <div class="col-sm-10">
            <input
              v-model="projtitle"
              type="text"
              class="form-control"
              name="Project Title"
              id="title"
              required
              v-validate="'required'"
            />
            <span
              class="text-small text-primary help-block-none"
            >The project title should be identical with the project's title in the budget proposal submitted to DBM, if applicable.</span>
            <br/>
            <span class="text-danger">{{ errors.first('Project Title') }}</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">
            Is it a Program or a Project?
            <i class="fas fa-flag flag_tomato"></i>
          </label>
          <div class="col-sm-10">
            <div class="i-checks">
              <input
                v-model="progproj"
                id="radioProg"
                type="radio"
                value="1"
                name="program_project"
                class="form-control-custom radio-custom form-check-input"
                required
                v-validate="'required'"
              />
              <label
                for="radioProg"
              >Program</label>
              &nbsp;&nbsp;&nbsp;
              <input
                v-model="progproj"
                id="radioProj"
                type="radio"
                value="2"
                name="Program or Project"
                class="form-control-custom radio-custom form-check-input"
                v-validate="'required'"
              />
              <label
                for="radioProj"
              >Project</label>
              <div class="invalid-feedback">This is a required field.</div>
            </div>
            <p class="text-primary">{{tooltipProjProg}}</p>
            <br/>
            <span class="text-danger">{{ errors.first('Program or Project') }}</span>
          </div>
          <label v-if="progproj == 1" class="col-sm-2 form-control-label" id="reg_prog_choices">
            Is it a Regular Program?
            <i class="fas fa-flag flag_tomato"></i>
          </label>
          <div v-if="progproj == 1" class="col-sm-10" id="reg_prog_choices2">
            <div class="i-checks">
              <input
                id="radioProgYes"
                type="radio"
                value="1"
                name="regular_program"
                class="form-control-custom radio-custom form-check-input"
                v-model="selectedRegProg"
                v-validate="'required'"
              />
              <label for="radioProgYes">Yes</label>
              &nbsp;&nbsp;&nbsp;
              <input
                id="radioProgNo"
                type="radio"
                value="0"
                name="Regular Program"
                class="form-control-custom radio-custom form-check-input"
                v-model="selectedRegProg"
                v-validate="'required'"
              />
              <label for="radioProgNo">No</label>
              <div class="invalid-feedback">This is a required field.</div>
              <p class="text-primary">A regular program refers to a program being implemented by agencies on a 
                continuing basis. For regular programs, only the investment targets covering 2017-2022 shall be submitted.</p>
              <br/>
              <span class="text-danger">{{ errors.first('Regular Program') }}</span>
            </div>
          </div>
        </div>
        <!-- <div class="form-group row" v-if="selectedRegProg == 1">
          <label class="col-sm-2 form-control-label">
            Regular Program Title
          </label>
          <div class="col-sm-10">
            <input type="text" 
            name="Program_Title" 
            placeholder="Regular Program Title" 
            class="form-control" 
            v-model="regprogtitle"
            v-validate="'required'"
            >
            <span class="text-danger">{{ errors.first('Program_Title') }}</span>
          </div>
        </div> -->
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">
            Basis for Implementation
            <i class="fas fa-flag flag_tomato"></i>
            <br />
            <small class="text-primary">Identify the basis for the implementation of the program/ project. Check all applicable</small>
          </label>
          <div class="col-sm-10">
            <multiselect
              name="Basis for Implementation"
              v-model="selectedBasis"
              :options="basis"
              :multiple="true"
              :close-on-select="true"
              :clear-on-select="false"
              :preserve-search="true"
              placeholder="Single or Multiple Selection"
              track-by="basis"
              :preselect-first="false"
              :hide-selected="false"
              label="basis"
              v-validate="'required'"
            ></multiselect>
            <span class="text-danger">{{ errors.first('Basis for Implementation') }}</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">
            Project Components and Objectives
            <i class="fas fa-flag flag_tomato"></i>
            <br />
            <small
              class="text-primary"
            >Identify the Components of the Program/Project. If a Program, please identify the sub-programs/projects and explain the objective of the program/project in terms of responding to the PDP/ RM.</small>
          </label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="5" id="comment" name="Project Components and Objectives" v-model="project_components"
            v-validate="'required'">
            </textarea>
            <span class="text-danger">{{ errors.first('Project Components and Objectives') }}</span>
          </div>
        </div>
      </div>
      <!-- end Card Body     -->
    </div>
  </div>
</template>

<script>
import store from "../../store/storetodb";

export default {
  name: "geninfo",
  props: ["basis", "projects", "basis_projects"],
  data() {
    return {
      projtitle: "",
      progproj: "",
      selectedBasis: [],
      tooltipProjProg:'',
      selectedRegProg:'',
      regprogtitle:'',
      project_components:''
    };
  },
  watch: {
    progproj: function() {
      if (this.progproj == 1) {
        this.tooltipProjProg = "A program is a group of activities and projects that contribute to a common particular outcome. A program should have the following: (a) unique expected results or outcomes; (b) a clear target population or client group external to the agency; (c) a defined method of intervention to achieve the desired result; and (d) a clear management structure that defines accountabilities."
      } else {
        this.tooltipProjProg = "A project is a special undertaking carried out within a definite time frame and intended to result in some pre -determined measure of goods and services."
      } 
    }
  },
  mounted(){
    if(this.projects != undefined) {
      this.projtitle = this.projects.title
      this.progproj = this.projects.prog_proj
      this.project_components = this.projects.description
      this.selectedBasis = this.basis_projects
      this.selectedRegProg = this.projects.reg_prog
    }
  },
  methods: {
    validateBeforeSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.savetostore()
        }

        // alert("Fill up the required fields! General Info");
      });
    },
    savetostore(btn) {
      if (btn == "draft") {
        store.dispatch('UpdateProj', { 
        projtitle: this.projtitle,
        progproj: this.progproj,
        selectedBasis: this.selectedBasis,
        selectedRegProg: this.selectedRegProg, 
        regprogtitle: this.regprogtitle,
        project_components: this.project_components,
        })
      } else {
        store.dispatch('UpdateProj', { 
          projtitle: this.projtitle,
          progproj: this.progproj,
          selectedBasis: this.selectedBasis,
          selectedRegProg: this.selectedRegProg, 
          regprogtitle: this.regprogtitle,
          project_components: this.project_components,
          geninfo: true,
          })
      }
    },
    saveAsDraft() {
      store.dispatch('Draft')
      Swal.fire(
        'Good job!',
        'Project Added as Draft',
        'success'
      )
    }
  },
};
</script>

<style>
</style>
