<template>
  <div name="implementingagency">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h4>Implementing Agency</h4>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">Mother/Oversight Agency</label>
          <div class="col-sm-10">
            <span
              v-if="agency_agency != undefined && agency_mother == undefined "
            >{{agency_agency.UACS_AGY_DSC}}</span>
            <span v-if="agency_mother != undefined ">{{agency_agency.UACS_DPT_DSC}}</span>
            <multiselect
              v-model="selectedMotherAgency"
              :options="agencies"
              :multiple="true"
              :close-on-select="true"
              :clear-on-select="true"
              :preserve-search="false"
              placeholder="Type to search"
              :custom-label="codeWithDesc"
              track-by="UACS_AGY_DSC"
              :preselect-first="false"
              :hide-selected="false"
              :loading="isLoading"
              @search-change="asyncFindAgency"
              v-if="agency_agency == undefined"
              name="Mother_Agency"
              v-validate="'required'"
            ></multiselect>
            <span class="text-danger">{{ errors.first('Mother_Agency') }}</span>
          </div>
          <label class="col-sm-2 form-control-label">Co-Implementing Agency</label>
          <div class="col-sm-10">
            <multiselect
              v-model="selectedCoAgency"
              :options="agencies"
              :multiple="true"
              :close-on-select="true"
              :clear-on-select="true"
              :preserve-search="false"
              placeholder="Type to search"
              :custom-label="codeWithDesc"
              track-by="UACS_AGY_DSC"
              :preselect-first="false"
              :hide-selected="false"
              :loading="isLoading"
              @search-change="asyncFindAgency"
              name="Co_Implementing_Agency"
            ></multiselect>
            <!-- <span class="text-danger">{{ errors.first('Co_Implementing_Agency') }}</span> -->
          </div>
          <label class="col-sm-2 form-control-label">Attached Agency</label>
          <div class="col-sm-10">
            <span
              v-if="agency_agency != undefined && agency_agency.motheragency_id !== 0 "
            >{{agency_agency.UACS_AGY_DSC}}</span>
            <multiselect
              v-model="selectedAttachAgency"
              :options="agencies"
              :multiple="true"
              :close-on-select="true"
              :clear-on-select="true"
              :preserve-search="false"
              placeholder="Type to search"
              :custom-label="codeWithDesc"
              track-by="UACS_AGY_DSC"
              :preselect-first="false"
              :hide-selected="false"
              :loading="isLoading"
              @search-change="asyncFindAgency"
              name="Attached_Agency"
            ></multiselect>
            <span class="text-danger">{{ errors.first('Attached_Agency') }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import store from "../../store/storetodb";

const mapDuplicate = new Map();

export default {
  name: "implementingagency",
  props: ["agency_agency", "agency_mother", "agencies_projects", "attagencies_projects"],
  created () {
    this.loadMotherAttach()
  },
  data() {
    return {
      selectedCoAgency: [],
      selectedAttachAgency: [],
      selectedMotherAgency: [],
      agencies: [],
      isLoading: false
    };
  },
  mounted() {
    if (this.agency_mother != undefined) {
      this.selectedMotherAgency.push(this.agency_mother)
    }
    if (this.agencies_projects != undefined) {
      this.selectedCoAgency = this.agencies_projects
    }
    if (this.attagencies_projects != undefined) {
      this.selectedAttachAgency = this.attagencies_projects
    }
  },
  methods: {
    loadMotherAttach(){
      if (this.agency_agency != undefined && this.agency_agency.motheragency_id == 0) {
        this.selectedMotherAgency.push(this.agency_agency)
      }
      if (this.agency_agency != undefined && this.agency_agency.motheragency_id != 0) {
        this.selectedAttachAgency.push(this.agency_agency)
      }
    },
    codeWithDesc({ Abbreviation, UACS_AGY_DSC }) {
      return `${UACS_AGY_DSC} — [${Abbreviation}]`;
    },
    asyncFindAgency(query) {
      this.isLoading = true;
      axios
        .post("/asyncfindagency", { query })
        .then(res => {
          res.data.forEach(e => {
            if (!mapDuplicate.has(e.id)) {
              mapDuplicate.set(e.id, true);
              this.agencies.push(e);
            }
          });
          this.isLoading = false;
        })
        .catch(err => {
          console.error(err);
        });
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.savetostore()
          return;
        }

        // alert("Fill up the required fields! Implementing Agency");
      });
    },
    savetostore(btn) {
      if (btn == "draft") {
        store.dispatch("UpdateImplementingData", {
          selectedCoAgency: this.selectedCoAgency,
          selectedAttachAgency: this.selectedAttachAgency,
          selectedMotherAgency: this.selectedMotherAgency,
        });
      } else {
        store.dispatch("UpdateImplementingData", {
          selectedCoAgency: this.selectedCoAgency,
          selectedAttachAgency: this.selectedAttachAgency,
          selectedMotherAgency: this.selectedMotherAgency,
          implementing: true
        });
      }
    }
  }
};
</script>

<style>
</style>
