<template>
  <div
    id="ic"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
    class="modal fade number-left"
  >
    <div role="document" class="modal-dialog modal-lg" style="max-width: 100%;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="exampleModalLabel" class="modal-title">Infrastructure Cost</h5>
          <button type="button" data-dismiss="modal" aria-label="Close" class="close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Financing Source</th>
                          <th>2016 and Prior</th>
                          <th>2017</th>
                          <th>2018</th>
                          <th>2019</th>
                          <th>2020</th>
                          <th>2021</th>
                          <th>2022</th>
                          <th>2017-2022</th>
                          <th>Continuing Years</th>
                          <th>Overall Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>NG - Local</td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-nglocal1 ic_2016"
                              name="2016_and_Prior"
                              @change="nglocalGetTotal"
                              @keypress="onlyNumber"
                              v-model="nglocal2016"
                              v-validate="'required'"
                            />
                            <span class="text-danger">{{ errors.first('2016_and_Prior') }}</span>
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-nglocal2 ic_2017"
                              name="ic_2017_nglocal"
                              @change="nglocalGetTotal"
                              @keypress="onlyNumber"
                              v-model="nglocal2017"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-nglocal2 ic_2018"
                              name="ic_2018_nglocal"
                              @change="nglocalGetTotal"
                              @keypress="onlyNumber"
                              v-model="nglocal2018"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-nglocal2 ic_2019"
                              name="ic_2019_nglocal"
                              @change="nglocalGetTotal"
                              @keypress="onlyNumber"
                              v-model="nglocal2019"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-nglocal2 ic_2020"
                              name="ic_2020_nglocal"
                              @change="nglocalGetTotal"
                              @keypress="onlyNumber"
                              v-model="nglocal2020"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-nglocal2 ic_2021"
                              name="ic_2021_nglocal"
                              @change="nglocalGetTotal"
                              @keypress="onlyNumber"
                              v-model="nglocal2021"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-nglocal2 ic_2022"
                              name="ic_2022_nglocal"
                              @change="nglocalGetTotal"
                              @keypress="onlyNumber"
                              v-model="nglocal2022"
                            />
                          </td>
                          <td>
                            <span class="ic-total2" id="ic-nglocal2_total">{{nglocaltotal}}</span>
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-nglocal1 ic_2023"
                              name="ic_2023_nglocal"
                              @change="nglocalGetOverall"
                              @keypress="onlyNumber"
                              v-model="nglocalCont"
                            />
                          </td>
                          <td>
                            <span class="ic-total_all" id="ic-nglocal_total_all">{{nglocalOverall}}</span>
                          </td>
                        </tr>
                        <!-- <tr>
                          <td>NG - ODA Loan</td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-ngloan1 ic_2016"
                              name="ic_2016_ngloan"
                              @change="ngloanGetTotal"
                              @keypress="onlyNumber"
                              v-model="ngloan2016"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-ngloan2 ic_2017"
                              name="ic_2017_ngloan"
                              @change="ngloanGetTotal"
                              @keypress="onlyNumber"
                              v-model="ngloan2017"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-ngloan2 ic_2018"
                              name="ic_2018_ngloan"
                              @change="ngloanGetTotal"
                              @keypress="onlyNumber"
                              v-model="ngloan2018"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-ngloan2 ic_2019"
                              name="ic_2019_ngloan"
                              @change="ngloanGetTotal"
                              @keypress="onlyNumber"
                              v-model="ngloan2019"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-ngloan2 ic_2020"
                              name="ic_2020_ngloan"
                              @change="ngloanGetTotal"
                              @keypress="onlyNumber"
                              v-model="ngloan2020"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-ngloan2 ic_2021"
                              name="ic_2021_ngloan"
                              @change="ngloanGetTotal"
                              @keypress="onlyNumber"
                              v-model="ngloan2021"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-ngloan2 ic_2022"
                              name="ic_2022_ngloan"
                              @change="ngloanGetTotal"
                              @keypress="onlyNumber"
                              v-model="ngloan2022"
                            />
                          </td>
                          <td>
                            <span class="ic-total2" id="ic-ngloan2_total">{{ngloantotal}}</span>
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-ngloan1 ic_2023"
                              name="ic_2023_ngloan"
                               @change="ngloanGetOverall"
                              @keypress="onlyNumber"
                              v-model="ngloanCont"
                            />
                          </td>
                          <td>
                            <span class="ic-total_all" id="ic-ngloan_total_all">{{ngloanOverall}}</span>
                          </td>
                        </tr>
                        <tr>
                          <td>NG - ODA Grant</td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-odagrant1 ic_2016"
                              name="ic_2016_odagrant"
                              @change="nggrantGetTotal"
                              @keypress="onlyNumber"
                              v-model="nggrant2016"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-odagrant2 ic_2017"
                              name="ic_2017_odagrant"
                              @change="nggrantGetTotal"
                              @keypress="onlyNumber"
                              v-model="nggrant2017"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-odagrant2 ic_2018"
                              name="ic_2018_odagrant"
                              @change="nggrantGetTotal"
                              @keypress="onlyNumber"
                              v-model="nggrant2018"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-odagrant2 ic_2019"
                              name="ic_2019_odagrant"
                              @change="nggrantGetTotal"
                              @keypress="onlyNumber"
                              v-model="nggrant2019"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-odagrant2 ic_2020"
                              name="ic_2020_odagrant"
                              @change="nggrantGetTotal"
                              @keypress="onlyNumber"
                              v-model="nggrant2020"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-odagrant2 ic_2021"
                              name="ic_2021_odagrant"
                              @change="nggrantGetTotal"
                              @keypress="onlyNumber"
                              v-model="nggrant2021"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-odagrant2 ic_2022"
                              name="ic_2022_odagrant"
                              @change="nggrantGetTotal"
                              @keypress="onlyNumber"
                              v-model="nggrant2022"
                            />
                          </td>
                          <td>
                            <span class="ic-total2" id="ic-odagrant2_total">{{nggranttotal}}</span>
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-odagrant1 ic_2023"
                              name="ic_2023_odagrant"
                              @change="nggrantGetOverall"
                              @keypress="onlyNumber"
                              v-model="nggrantCont"
                            />
                          </td>
                          <td>
                            <span class="ic-total_all" id="ic-odagrant_total_all">{{nggrantOverall}}</span>
                          </td>
                        </tr>
                        <tr>
                          <td>GOCC/GFIs</td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-gocc1 ic_2016"
                              name="ic_2016_gocc"
                              @change="goccGetTotal"
                              @keypress="onlyNumber"
                              v-model="gocc2016"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-gocc2 ic_2017"
                              name="ic_2017_gocc"
                              @change="goccGetTotal"
                              @keypress="onlyNumber"
                              v-model="gocc2017"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-gocc2 ic_2018"
                              name="ic_2018_gocc"
                              @change="goccGetTotal"
                              @keypress="onlyNumber"
                              v-model="gocc2018"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-gocc2 ic_2019"
                              name="ic_2019_gocc"
                              @change="goccGetTotal"
                              @keypress="onlyNumber"
                              v-model="gocc2019"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-gocc2 ic_2020"
                              name="ic_2020_gocc"
                              @change="goccGetTotal"
                              @keypress="onlyNumber"
                              v-model="gocc2020"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-gocc2 ic_2021"
                              name="ic_2021_gocc"
                              @change="goccGetTotal"
                              @keypress="onlyNumber"
                              v-model="gocc2021"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-gocc2 ic_2022"
                              name="ic_2022_gocc"
                              @change="goccGetTotal"
                              @keypress="onlyNumber"
                              v-model="gocc2022"
                            />
                          </td>
                          <td>
                            <span class="ic-total2" id="ic-gocc2_total">{{gocctotal}}</span>
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-gocc1 ic_2023"
                              name="ic_2023_gocc"
                              @change="goccGetOverall"
                              @keypress="onlyNumber"
                              v-model="goccCont"
                            />
                          </td>
                          <td>
                            <span class="ic-total_all" id="ic-gocc_total_all">{{goccOverall}}</span>
                          </td>
                        </tr>
                        <tr>
                          <td>LGUs</td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-lgu1 ic_2016"
                              name="ic_2016_lgu"
                              @change="lguGetTotal"
                              @keypress="onlyNumber"
                              v-model="lgu2016"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-lgu2 ic_2017"
                              name="ic_2017_lgu"
                              @change="lguGetTotal"
                              @keypress="onlyNumber"
                              v-model="lgu2017"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-lgu2 ic_2018"
                              name="ic_2018_lgu"
                              @change="lguGetTotal"
                              @keypress="onlyNumber"
                              v-model="lgu2018"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-lgu2 ic_2019"
                              name="ic_2019_lgu"
                              @change="lguGetTotal"
                              @keypress="onlyNumber"
                              v-model="lgu2019"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-lgu2 ic_2020"
                              name="ic_2020_lgu"
                              @change="lguGetTotal"
                              @keypress="onlyNumber"
                              v-model="lgu2020"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-lgu2 ic_2021"
                              name="ic_2021_lgu"
                              @change="lguGetTotal"
                              @keypress="onlyNumber"
                              v-model="lgu2021"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-lgu2 ic_2022"
                              name="ic_2022_lgu"
                              @change="lguGetTotal"
                              @keypress="onlyNumber"
                              v-model="lgu2022"
                            />
                          </td>
                          <td>
                            <span class="ic-total2" id="ic-lgu2_total">{{lgutotal}}</span>
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-lgu1 ic_2023"
                              name="ic_2023_lgu"
                              @change="lguGetOverall"
                              @keypress="onlyNumber"
                              v-model="lguCont"
                            />
                          </td>
                          <td>
                            <span class="ic-total_all" id="ic-lgu_total_all">{{lguOverall}}</span>
                          </td>
                        </tr>
                        <tr>
                          <td>Private Sector</td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-ps1 ic_2016"
                              name="ic_2016_ps"
                              @change="privateGetTotal"
                              @keypress="onlyNumber"
                              v-model="private2016"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-ps2 ic_2017"
                              name="ic_2017_ps"
                              @change="privateGetTotal"
                              @keypress="onlyNumber"
                              v-model="private2017"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-ps2 ic_2018"
                              name="ic_2018_ps"
                              @change="privateGetTotal"
                              @keypress="onlyNumber"
                              v-model="private2018"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-ps2 ic_2019"
                              name="ic_2019_ps"
                              @change="privateGetTotal"
                              @keypress="onlyNumber"
                              v-model="private2019"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-ps2 ic_2020"
                              name="ic_2020_ps"
                              @change="privateGetTotal"
                              @keypress="onlyNumber"
                              v-model="private2020"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-ps2 ic_2021"
                              name="ic_2021_ps"
                              @change="privateGetTotal"
                              @keypress="onlyNumber"
                              v-model="private2021"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-ps2 ic_2022"
                              name="ic_2022_ps"
                              @change="privateGetTotal"
                              @keypress="onlyNumber"
                              v-model="private2022"
                            />
                          </td>
                          <td>
                            <span class="ic-total2" id="ic-ps2_total">{{privatetotal}}</span>
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-ps1 ic_2023"
                              name="ic_2023_ps"
                              @change="privateGetOverall"
                              @keypress="onlyNumber"
                              v-model="privateCont"
                            />
                          </td>
                          <td>
                            <span class="ic-total_all" id="ic-ps_total_all">{{privateOverall}}</span>
                          </td>
                        </tr>
                        <tr>
                          <td>Others</td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-others1 ic_2016"
                              name="ic_2016_others"
                              @change="othersGetTotal"
                              @keypress="onlyNumber"
                              v-model="others2016"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-others2 ic_2017"
                              name="ic_2017_others"
                              @change="othersGetTotal"
                              @keypress="onlyNumber"
                              v-model="others2017"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-others2 ic_2018"
                              name="ic_2018_others"
                              @change="othersGetTotal"
                              @keypress="onlyNumber"
                              v-model="others2018"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-others2 ic_2019"
                              name="ic_2019_others"
                              @change="othersGetTotal"
                              @keypress="onlyNumber"
                              v-model="others2019"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-others2 ic_2020"
                              name="ic_2020_others"
                              @change="othersGetTotal"
                              @keypress="onlyNumber"
                              v-model="others2020"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-others2 ic_2021"
                              name="ic_2021_others"
                              @change="othersGetTotal"
                              @keypress="onlyNumber"
                              v-model="others2021"
                            />
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-others2 ic_2022"
                              name="ic_2022_others"
                              @change="othersGetTotal"
                              @keypress="onlyNumber"
                              v-model="others2022"
                            />
                          </td>
                          <td>
                            <span class="ic-total2" id="ic-others2_total">{{otherstotal}}</span>
                          </td>
                          <td>
                            <input
                              type="text"
                              placeholder
                              class="form-control ic-number ic-others1 ic_2023"
                              name="ic_2023_others"
                              @change="othersGetOverall"
                              @keypress="onlyNumber"
                              v-model="othersCont"
                            />
                          </td>
                          <td>
                            <span class="ic-total_all" id="ic-others_total_all">{{othersOverall}}</span>
                          </td>
                        </tr> -->
                        <tr>
                          <th>Total</th>
                          <th>
                            <span id="ic_2016_total">{{total2016}}</span>
                          </th>
                          <th>
                            <span id="ic_2017_total">{{total2017}}</span>
                          </th>
                          <th>
                            <span id="ic_2018_total">{{total2018}}</span>
                          </th>
                          <th>
                            <span id="ic_2019_total">{{total2019}}</span>
                          </th>
                          <th>
                            <span id="ic_2020_total">{{total2020}}</span>
                          </th>
                          <th>
                            <span id="ic_2021_total">{{total2021}}</span>
                          </th>
                          <th>
                            <span id="ic_2022_total">{{total2022}}</span>
                          </th>
                          <th>
                            <span id="ic_total2">{{total16to22}}</span>
                          </th>
                          <th>
                            <span id="ic_2023_total">{{totalCont}}</span>
                          </th>
                          <th>
                            <span id="ic_total_all">{{totalOverall}}</span>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      nglocal2016: 0,
      nglocal2017: 0,
      nglocal2018: 0,
      nglocal2019: 0,
      nglocal2020: 0,
      nglocal2021: 0,
      nglocal2022: 0,
      nglocaltotal: 0,
      nglocalCont: 0,
      nglocalOverall: 0,
      // ngloan
      ngloan2016: 0,
      ngloan2017: 0,
      ngloan2018: 0,
      ngloan2019: 0,
      ngloan2020: 0,
      ngloan2021: 0,
      ngloan2022: 0,
      ngloantotal: 0,
      ngloanCont: 0,
      ngloanOverall: 0,
      // nggrant
      nggrant2016: 0,
      nggrant2017: 0,
      nggrant2018: 0,
      nggrant2019: 0,
      nggrant2020: 0,
      nggrant2021: 0,
      nggrant2022: 0,
      nggranttotal: 0,
      nggrantCont: 0,
      nggrantOverall: 0,
      // GOCC
      gocc2016: 0,
      gocc2017: 0,
      gocc2018: 0,
      gocc2019: 0,
      gocc2020: 0,
      gocc2021: 0,
      gocc2022: 0,
      gocctotal: 0,
      goccCont: 0,
      goccOverall: 0,
      // LGU
      lgu2016: 0,
      lgu2017: 0,
      lgu2018: 0,
      lgu2019: 0,
      lgu2020: 0,
      lgu2021: 0,
      lgu2022: 0,
      lgutotal: 0,
      lguCont: 0,
      lguOverall: 0,
      //Private Sector
      private2016: 0,
      private2017: 0,
      private2018: 0,
      private2019: 0,
      private2020: 0,
      private2021: 0,
      private2022: 0,
      privatetotal: 0,
      privateCont: 0,
      privateOverall: 0,
      // Others
      others2016: 0,
      others2017: 0,
      others2018: 0,
      others2019: 0,
      others2020: 0,
      others2021: 0,
      others2022: 0,
      otherstotal: 0,
      othersCont: 0,
      othersOverall: 0,
      // Totals
      total2016: 0,
      total2017: 0,
      total2018: 0,
      total2019: 0,
      total2020: 0,
      total2021: 0,
      total2022: 0,
      total16to22: 0,
      totalCont: 0,
      totalOverall: 0,


    };
  },
  watch : {
      nglocal2016() {
          return this.nglocal2016 = parseFloat(this.nglocal2016, 10);
      }
  },
  methods: {
    onlyNumber($event) {
      //   console.log($event.keyCode); //keyCodes value
      let keyCode = $event.keyCode ? $event.keyCode : $event.which;
      if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) {
        // 46 is dot
        $event.preventDefault();
      }
    },
    nglocalGetTotal() {
    //   this.nglocal2016 = parseFloat(this.nglocal2016, 10);
      this.nglocal2017 = parseFloat(this.nglocal2017, 10);
      this.nglocal2018 = parseFloat(this.nglocal2018, 10);
      this.nglocal2019 = parseFloat(this.nglocal2019, 10);
      this.nglocal2020 = parseFloat(this.nglocal2020, 10);
      this.nglocal2021 = parseFloat(this.nglocal2021, 10);
      this.nglocal2022 = parseFloat(this.nglocal2022, 10);
      this.nglocaltotal =
        this.nglocal2016 +
        this.nglocal2017 +
        this.nglocal2018 +
        this.nglocal2019 +
        this.nglocal2020 +
        this.nglocal2021 +
        this.nglocal2022;
      this.nglocalGetOverall();
      this.getTotals2016()
      this.getTotals2017()
      this.getTotals2018()
      this.getTotals2019()
      this.getTotals2020()
      this.getTotals2021()
      this.getTotals2022()
      this.getTotals16to22()
      this.getTotalCont()
      this.getTotalOverall()
    },
    nglocalGetOverall() {
      this.nglocalCont = parseFloat(this.nglocalCont, 10);
      this.nglocalOverall =
        this.nglocal2016 +
        this.nglocal2017 +
        this.nglocal2018 +
        this.nglocal2019 +
        this.nglocal2020 +
        this.nglocal2021 +
        this.nglocal2022 +
        this.nglocalCont;
        this.getTotalCont()
        this.getTotalOverall()
    },
    ngloanGetTotal() {
      this.ngloan2016 = parseFloat(this.ngloan2016, 10);
      this.ngloan2017 = parseFloat(this.ngloan2017, 10);
      this.ngloan2018 = parseFloat(this.ngloan2018, 10);
      this.ngloan2019 = parseFloat(this.ngloan2019, 10);
      this.ngloan2020 = parseFloat(this.ngloan2020, 10);
      this.ngloan2021 = parseFloat(this.ngloan2021, 10);
      this.ngloan2022 = parseFloat(this.ngloan2022, 10);
      this.ngloantotal =
        this.ngloan2016 +
        this.ngloan2017 +
        this.ngloan2018 +
        this.ngloan2019 +
        this.ngloan2020 +
        this.ngloan2021 +
        this.ngloan2022;
      this.ngloanGetOverall();
      this.getTotals2016()
      this.getTotals2017()
      this.getTotals2018()
      this.getTotals2019()
      this.getTotals2020()
      this.getTotals2021()
      this.getTotals2022()
      this.getTotals16to22()
      this.getTotalCont()
      this.getTotalOverall()
    },
    ngloanGetOverall() {
      this.ngloanCont = parseFloat(this.ngloanCont, 10);
      this.ngloanOverall =
        this.ngloan2016 +
        this.ngloan2017 +
        this.ngloan2018 +
        this.ngloan2019 +
        this.ngloan2020 +
        this.ngloan2021 +
        this.ngloan2022 +
        this.ngloanCont;
        this.getTotalCont()
        this.getTotalOverall()
    },
    nggrantGetTotal() {
      this.nggrant2016 = parseFloat(this.nggrant2016, 10);
      this.nggrant2017 = parseFloat(this.nggrant2017, 10);
      this.nggrant2018 = parseFloat(this.nggrant2018, 10);
      this.nggrant2019 = parseFloat(this.nggrant2019, 10);
      this.nggrant2020 = parseFloat(this.nggrant2020, 10);
      this.nggrant2021 = parseFloat(this.nggrant2021, 10);
      this.nggrant2022 = parseFloat(this.nggrant2022, 10);
      this.nggranttotal =
        this.nggrant2016 +
        this.nggrant2017 +
        this.nggrant2018 +
        this.nggrant2019 +
        this.nggrant2020 +
        this.nggrant2021 +
        this.nggrant2022;
      this.nggrantGetOverall();
      this.getTotals2016()
      this.getTotals2017()
      this.getTotals2018()
      this.getTotals2019()
      this.getTotals2020()
      this.getTotals2021()
      this.getTotals2022()
      this.getTotals16to22()
      this.getTotalCont()
      this.getTotalOverall()
    },
    nggrantGetOverall() {
      this.nggrantCont = parseFloat(this.nggrantCont, 10);
      this.nggrantOverall =
        this.nggrant2016 +
        this.nggrant2017 +
        this.nggrant2018 +
        this.nggrant2019 +
        this.nggrant2020 +
        this.nggrant2021 +
        this.nggrant2022 +
        this.nggrantCont;
        this.getTotalCont()
        this.getTotalOverall()
    },
    goccGetTotal() {
      this.gocc2016 = parseFloat(this.gocc2016, 10);
      this.gocc2017 = parseFloat(this.gocc2017, 10);
      this.gocc2018 = parseFloat(this.gocc2018, 10);
      this.gocc2019 = parseFloat(this.gocc2019, 10);
      this.gocc2020 = parseFloat(this.gocc2020, 10);
      this.gocc2021 = parseFloat(this.gocc2021, 10);
      this.gocc2022 = parseFloat(this.gocc2022, 10);
      this.gocctotal =
        this.gocc2016 +
        this.gocc2017 +
        this.gocc2018 +
        this.gocc2019 +
        this.gocc2020 +
        this.gocc2021 +
        this.gocc2022;
      this.goccGetOverall();
      this.getTotals2016()
      this.getTotals2017()
      this.getTotals2018()
      this.getTotals2019()
      this.getTotals2020()
      this.getTotals2021()
      this.getTotals2022()
      this.getTotals16to22()
      this.getTotalCont()
      this.getTotalOverall()
    },
    goccGetOverall() {
      this.goccCont = parseFloat(this.goccCont, 10);
      this.goccOverall =
        this.gocc2016 +
        this.gocc2017 +
        this.gocc2018 +
        this.gocc2019 +
        this.gocc2020 +
        this.gocc2021 +
        this.gocc2022 +
        this.goccCont;
        this.getTotalCont()
        this.getTotalOverall()
    },
    lguGetTotal() {
      this.lgu2016 = parseFloat(this.lgu2016, 10);
      this.lgu2017 = parseFloat(this.lgu2017, 10);
      this.lgu2018 = parseFloat(this.lgu2018, 10);
      this.lgu2019 = parseFloat(this.lgu2019, 10);
      this.lgu2020 = parseFloat(this.lgu2020, 10);
      this.lgu2021 = parseFloat(this.lgu2021, 10);
      this.lgu2022 = parseFloat(this.lgu2022, 10);
      this.lgutotal =
        this.lgu2016 +
        this.lgu2017 +
        this.lgu2018 +
        this.lgu2019 +
        this.lgu2020 +
        this.lgu2021 +
        this.lgu2022;
      this.lguGetOverall();
      this.getTotals2016()
      this.getTotals2017()
      this.getTotals2018()
      this.getTotals2019()
      this.getTotals2020()
      this.getTotals2021()
      this.getTotals2022()
      this.getTotals16to22()
      this.getTotalCont()
      this.getTotalOverall()
    },
    lguGetOverall() {
      this.lguCont = parseFloat(this.lguCont, 10);
      this.lguOverall =
        this.lgu2016 +
        this.lgu2017 +
        this.lgu2018 +
        this.lgu2019 +
        this.lgu2020 +
        this.lgu2021 +
        this.lgu2022 +
        this.lguCont;
        this.getTotalCont()
    },
    privateGetTotal() {
      this.private2016 = parseFloat(this.private2016, 10);
      this.private2017 = parseFloat(this.private2017, 10);
      this.private2018 = parseFloat(this.private2018, 10);
      this.private2019 = parseFloat(this.private2019, 10);
      this.private2020 = parseFloat(this.private2020, 10);
      this.private2021 = parseFloat(this.private2021, 10);
      this.private2022 = parseFloat(this.private2022, 10);
      this.privatetotal =
        this.private2016 +
        this.private2017 +
        this.private2018 +
        this.private2019 +
        this.private2020 +
        this.private2021 +
        this.private2022;
      this.privateGetOverall();
      this.getTotals2016()
      this.getTotals2017()
      this.getTotals2018()
      this.getTotals2019()
      this.getTotals2020()
      this.getTotals2021()
      this.getTotals2022()
      this.getTotals16to22()
      this.getTotalCont()
      this.getTotalOverall()
    },
    privateGetOverall() {
      this.privateCont = parseFloat(this.privateCont, 10);
      this.privateOverall =
        this.private2016 +
        this.private2017 +
        this.private2018 +
        this.private2019 +
        this.private2020 +
        this.private2021 +
        this.private2022 +
        this.privateCont;
        this.getTotalCont()
        this.getTotalOverall()
    },
    othersGetTotal() {
      this.others2016 = parseFloat(this.others2016, 10);
      this.others2017 = parseFloat(this.others2017, 10);
      this.others2018 = parseFloat(this.others2018, 10);
      this.others2019 = parseFloat(this.others2019, 10);
      this.others2020 = parseFloat(this.others2020, 10);
      this.others2021 = parseFloat(this.others2021, 10);
      this.others2022 = parseFloat(this.others2022, 10);
      this.otherstotal =
        this.others2016 +
        this.others2017 +
        this.others2018 +
        this.others2019 +
        this.others2020 +
        this.others2021 +
        this.others2022;
      this.othersGetOverall();
      this.getTotals2016()
      this.getTotals2017()
      this.getTotals2018()
      this.getTotals2019()
      this.getTotals2020()
      this.getTotals2021()
      this.getTotals2022()
      this.getTotals16to22()
      this.getTotalCont()
      this.getTotalOverall()
    },
    othersGetOverall() {
      this.othersCont = parseFloat(this.othersCont, 10);
      this.othersOverall =
        this.others2016 +
        this.others2017 +
        this.others2018 +
        this.others2019 +
        this.others2020 +
        this.others2021 +
        this.others2022 +
        this.othersCont;
        this.getTotalCont()
        this.getTotalOverall()
    },
    getTotals2016() {
        this.total2016 = this.nglocal2016 + this.ngloan2016 + this.nggrant2016 + this.gocc2016 +
        this.lgu2016 + this.private2016 + this.others2016
    },
    getTotals2017() {
        this.total2017 = this.nglocal2017 + this.ngloan2017 + this.nggrant2017 + this.gocc2017 +
        this.lgu2017 + this.private2017 + this.others2017
    },
    getTotals2018() {
        this.total2018 = this.nglocal2018 + this.ngloan2018 + this.nggrant2018 + this.gocc2018 +
        this.lgu2018 + this.private2018 + this.others2018
    },
    getTotals2019() {
        this.total2019 = this.nglocal2019 + this.ngloan2019 + this.nggrant2019 + this.gocc2019 +
        this.lgu2019 + this.private2019 + this.others2019
    },
    getTotals2020() {
        this.total2020 = this.nglocal2020 + this.ngloan2020 + this.nggrant2020 + this.gocc2020 +
        this.lgu2020 + this.private2020 + this.others2020
    },
    getTotals2021() {
        this.total2021 = this.nglocal2021 + this.ngloan2021 + this.nggrant2021 + this.gocc2021 +
        this.lgu2021 + this.private2021 + this.others2021
    },
    getTotals2022() {
        this.total2022 = this.nglocal2022 + this.ngloan2022 + this.nggrant2022 + this.gocc2022 +
        this.lgu2022 + this.private2022 + this.others2022
    },
    getTotals16to22() {
        this.total16to22 = this.nglocaltotal + this.ngloantotal + this.nggranttotal +
        this.gocctotal + this.lgutotal + this.privatetotal + this.otherstotal
    },
    getTotalCont() {
        this.totalCont = this.nglocalCont + this.ngloanCont + this.nggrantCont + this.goccCont +
        this.lguCont + this.privateCont + this.othersCont
    },
    getTotalOverall() {
        this.totalOverall = this.nglocaltotal + this.ngloantotal + this.nggranttotal + this.gocctotal +
        this.lgutotal + this.privatetotal + this.otherstotal + this.totalCont
    },
    validateBeforeSubmit() {
    this.$validator.validateAll().then(result => {
      if (result) {
        this.savetostore()
        return;
      }

      alert("Fill up the required fields! Infrastructure Cost");
    });
    },
    savetostore() {
    }
  }
};
</script>

<style>
</style>
