<template>
  <div name="infracost">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h6>Infrastructure Cost (In exact amount in PHP)</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Financing Source</th>
                  <th>2016 and Prior</th>
                  <th>2017</th>
                  <th>2018</th>
                  <th>2019</th>
                  <th>2020</th>
                  <th>2021</th>
                  <th>2022</th>
                  <th>2017-2022</th>
                  <th>Continuing Years</th>
                  <th>Overall Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>NG - Local</td>
                  <td>
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-nglocal1 ic_2016"
                      name="NG-Local_2016"
                      @change="nglocalGetTotal"
                      @keypress="onlyNumber"
                      v-model="nglocal2016"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-nglocal2 ic_2017"
                      name="NG-Local_2017"
                      @change="nglocalGetTotal"
                      @keypress="onlyNumber"
                      v-model="nglocal2017"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-nglocal2 ic_2018"
                      name="NG-Local_2018"
                      @change="nglocalGetTotal"
                      @keypress="onlyNumber"
                      v-model="nglocal2018"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-nglocal2 ic_2019"
                      name="NG-Local_2019"
                      @change="nglocalGetTotal"
                      @keypress="onlyNumber"
                      v-model="nglocal2019"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-nglocal2 ic_2020"
                      name="NG-Local_2020"
                      @change="nglocalGetTotal"
                      @keypress="onlyNumber"
                      v-model="nglocal2020"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-nglocal2 ic_2021"
                      name="NG-Local_2021"
                      @change="nglocalGetTotal"
                      @keypress="onlyNumber"
                      v-model="nglocal2021"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-nglocal2 ic_2022"
                      name="NG-Local_2022"
                      @change="nglocalGetTotal"
                      @keypress="onlyNumber"
                      v-model="nglocal2022"
                      v-validate="'min_value:0'"
                    />
                  </td>
                  <td>
                    <span class="ic-total2" id="ic-nglocal2_total">{{nglocaltotal}}</span>
                  </td>
                  <td>
                    <input
                      type="number"
                      placeholder
                      class="form-control ic-number ic-nglocal1 ic_2023"
                      name="NG-Local_Continuing"
                      @change="nglocalGetOverall"
                      @keypress="onlyNumber"
                      v-model="nglocalCont"
                    />
                  </td>
                  <td>
                    <span class="ic-total_all" id="ic-nglocal_total_all">{{nglocalOverall}}</span>
                  </td>
                </tr>
                <tr>
                  <th>Total</th>
                  <th>
                    <span id="ic_2016_total">{{total2016}}</span>
                  </th>
                  <th>
                    <span id="ic_2017_total">{{total2017}}</span>
                  </th>
                  <th>
                    <span id="ic_2018_total">{{total2018}}</span>
                  </th>
                  <th>
                    <span id="ic_2019_total">{{total2019}}</span>
                  </th>
                  <th>
                    <span id="ic_2020_total">{{total2020}}</span>
                  </th>
                  <th>
                    <span id="ic_2021_total">{{total2021}}</span>
                  </th>
                  <th>
                    <span id="ic_2022_total">{{total2022}}</span>
                  </th>
                  <th>
                    <span id="ic_total2">{{total16to22}}</span>
                  </th>
                  <th>
                    <span id="ic_2023_total">{{totalCont}}</span>
                  </th>
                  <th>
                    <span id="ic_total_all">{{totalOverall}}</span>
                  </th>
                </tr>
              </tbody>
            </table>
              <span class="text-danger">{{ errors.first('NG-Local_2016') }}</span>
              <span class="text-danger">{{ errors.first('NG-Local_2017') }}</span>
              <span class="text-danger">{{ errors.first('NG-Local_2018') }}</span>
              <span class="text-danger">{{ errors.first('NG-Local_2019') }}</span>
              <span class="text-danger">{{ errors.first('NG-Local_2020') }}</span>
              <span class="text-danger">{{ errors.first('NG-Local_2021') }}</span>
              <span class="text-danger">{{ errors.first('NG-Local_2022') }}</span>
              <span class="text-danger">{{ errors.first('NG-Local_Continuing') }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import store from "../../store/storetodb";

export default {
  name: "infracost",
  props: ['ic_projects'],
  mounted () {
    if (this.ic_projects != undefined) {
      this.ic_projects.forEach(e => {
        if (e.year == '2016') {
          if (e.local != '') {
            this.nglocal2016 = e.local
          } else {
            this.nglocal2016 = 0
          }
          this.nglocalGetTotal()
        }
        if (e.year == '2017') {
          if (e.local != '') {
            this.nglocal2017 = e.local
          } else {
            this.nglocal2017 = 0
          }
          this.nglocalGetTotal()
        }
        if (e.year == '2018') {
         if (e.local != '') {
            this.nglocal2018 = e.local
          } else {
            this.nglocal2018 = 0
          }
          this.nglocalGetTotal()
        }
        if (e.year == '2019') {
          if (e.local != '') {
            this.nglocal2019 = e.local
          } else {
            this.nglocal2019 = 0
          }
          this.nglocalGetTotal()
        }
        if (e.year == '2020') {
          if (e.local != '') {
            this.nglocal2020 = e.local
          } else {
            this.nglocal2020 = 0
          }
          this.nglocalGetTotal()
        }
        if (e.year == '2021') {
          if (e.local != '') {
            this.nglocal2021 = e.local
          } else {
            this.nglocal2021 = 0
          }
          this.nglocalGetTotal()
        }
        if (e.year == '2022') {
          if (e.local != '') {
            this.nglocal2022 = e.local
          } else {
            this.nglocal2022 = 0
          }
          this.nglocalGetTotal()
        }
        if (e.year == '2023') {
          if (e.local != '') {
            this.nglocalCont = e.local
          } else {
            this.nglocalCont = 0
          }
          this.nglocalGetTotal()
        }
      });
    }
  },
  data() {
    return {
      nglocal2016: 0,
      nglocal2017: 0,
      nglocal2018: 0,
      nglocal2019: 0,
      nglocal2020: 0,
      nglocal2021: 0,
      nglocal2022: 0,
      nglocaltotal: 0,
      nglocalCont: 0,
      nglocalOverall: 0,
      // Totals
      total2016: 0,
      total2017: 0,
      total2018: 0,
      total2019: 0,
      total2020: 0,
      total2021: 0,
      total2022: 0,
      total16to22: 0,
      totalCont: 0,
      totalOverall: 0
    };
  },
  watch: {
    nglocal2016() {
      return (this.nglocal2016 = parseFloat(this.nglocal2016, 10));
    }
  },
  methods: {
    onlyNumber($event) {
      //   console.log($event.keyCode); //keyCodes value
      let keyCode = $event.keyCode ? $event.keyCode : $event.which;
      if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) {
        // 46 is dot
        $event.preventDefault();
      }
    },
    nglocalGetTotal() {
      this.nglocal2016 = parseFloat(this.nglocal2016, 10);
      this.nglocal2017 = parseFloat(this.nglocal2017, 10);
      this.nglocal2018 = parseFloat(this.nglocal2018, 10);
      this.nglocal2019 = parseFloat(this.nglocal2019, 10);
      this.nglocal2020 = parseFloat(this.nglocal2020, 10);
      this.nglocal2021 = parseFloat(this.nglocal2021, 10);
      this.nglocal2022 = parseFloat(this.nglocal2022, 10);
      this.nglocaltotal =
        this.nglocal2016 +
        this.nglocal2017 +
        this.nglocal2018 +
        this.nglocal2019 +
        this.nglocal2020 +
        this.nglocal2021 +
        this.nglocal2022;
      this.nglocalGetOverall();
      this.getTotals2016();
      this.getTotals2017();
      this.getTotals2018();
      this.getTotals2019();
      this.getTotals2020();
      this.getTotals2021();
      this.getTotals2022();
      this.getTotals16to22();
      this.getTotalCont();
      this.getTotalOverall();
    },
    nglocalGetOverall() {
      this.nglocalCont = parseFloat(this.nglocalCont, 10);
      this.nglocalOverall =
        this.nglocal2016 +
        this.nglocal2017 +
        this.nglocal2018 +
        this.nglocal2019 +
        this.nglocal2020 +
        this.nglocal2021 +
        this.nglocal2022 +
        this.nglocalCont;
      this.getTotalCont();
      this.getTotalOverall();
    },
    getTotals2016() {
      this.total2016 =
        this.nglocal2016
    },
    getTotals2017() {
      this.total2017 =
        this.nglocal2017
    },
    getTotals2018() {
      this.total2018 =
        this.nglocal2018
    },
    getTotals2019() {
      this.total2019 =
        this.nglocal2019
    },
    getTotals2020() {
      this.total2020 =
        this.nglocal2020
    },
    getTotals2021() {
      this.total2021 =
        this.nglocal2021
    },
    getTotals2022() {
      this.total2022 =
        this.nglocal2022
    },
    getTotals16to22() {
      this.total16to22 =
        this.nglocaltotal
    },
    getTotalCont() {
      this.totalCont =
        this.nglocalCont
    },
    getTotalOverall() {
      this.totalOverall =
        this.nglocalOverall
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.savetostore();
          return;
        }

        alert("Fill up the required fields! Infrastructure Cost");
      });
    },
    savetostore() {
      store.dispatch('UpdateInfraCostData', {
        icnglocal2016: this.nglocal2016,
        icnglocal2017: this.nglocal2017,
        icnglocal2018: this.nglocal2018,
        icnglocal2019: this.nglocal2019,
        icnglocal2020: this.nglocal2020,
        icnglocal2021: this.nglocal2021,
        icnglocal2022: this.nglocal2022,
        icnglocaltotal: this.nglocaltotal,
        icnglocalCont:  this.nglocalCont,
        icnglocalOverall: this.nglocalOverall,
      })
    }
  }
};
</script>

<style>
</style>
