<template>
  <div name="notpdp">
    <div class="form-group row">
      <div class="col-sm-12">
        <div class="i-checks">
          <input id="NA_rm" type="checkbox" v-model="NA_rm" class="form-control-custom" name="NA_rm" />
          <label for="NA_rm">
            <strong>No PDP-RM Aggregate Output applicable</strong>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 form-control-label">
        Expected Outputs  <i class="fas fa-flag flag_tomato"></i>
        <label
          data-toggle="tooltip"
          data-placement="top"
          title="Expected outputs should directly contribute to identified RM outcome statement/output"
        >
          <i class="fas fa-question-circle flag_tomato"></i>
        </label>
        <br />
        <small class="text-primary">Actual Deliverables, i.e. 100km of paved roads</small>
      </label>
      <div class="col-sm-10">
        <textarea v-model="expectedoutput" class="form-control" rows="5" name="Expected Output"
        ></textarea>
        <!-- <span class="text-danger">{{ errors.first('Expected Output') }}</span> -->
      </div>
    </div>
  </div>
</template>

<script>
import store from "../../store/storetodb";

export default {
  name: "notpdp",
  props:["projects"],
  data() {
    return {
      expectedoutput:'',
      NA_rm: ""
    }
  },
  mounted() {
    if (this.projects != undefined) {
      this.NA_rm = this.projects.NA_rm
      this.expectedoutput = this.projects.output
    }
  },
  methods: {
    validateBeforeSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.savetostore()
          return;
        }

        // alert("Fill up the required fields! Expected PDP Output");
      });
    },
    savetostore(btn) {
      if (btn == "draft") {
        store.dispatch('UpdateNotPdpData', {
          expectedoutput: this.expectedoutput,
          NA_rm: this.NA_rm,
        })
      } else {
        store.dispatch('UpdateNotPdpData', {
          expectedoutput: this.expectedoutput,
          NA_rm: this.NA_rm,
          notpdp: true
        })
      }
    }
  }
};
</script>

<style>
</style>
