<template>
  <div name="pdp">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h4>Philippine Development Plan (PDP) Chapter</h4>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">
            Main PDP Chapter
            <i class="fas fa-flag flag_tomato"></i>
            <br />
            <!-- <small class="text-primary">included in any of the following documents</small> -->
          </label>
          <div class="col-sm-10">
            <multiselect
              v-model="selectedPdpChapter"
              :options="chapters"
              :multiple="false"
              :close-on-select="true"
              :clear-on-select="false"
              placeholder="Choose Chapter"
              track-by="chap_description"
              :preselect-first="false"
              :hide-selected="false"
              label="chap_description"
              @select="getRM1"
              name="Main PDP Chapter"
              v-validate="'required'"
            ></multiselect>
            <span class="text-danger">{{ errors.first('Main PDP Chapter') }}</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">
            Other PDP Chapter
            <br />
            <small class="text-primary">Select as many as applicable</small>
          </label>
          <div class="col-sm-10">
            <multiselect
              v-model="selectedOtherPdpChapter"
              :options="chapters"
              :multiple="true"
              :close-on-select="false"
              :clear-on-select="false"
              placeholder="Choose Chapter"
              track-by="chap_description"
              :preselect-first="false"
              :hide-selected="true"
              label="chap_description"
            ></multiselect>
          </div>
        </div>
        <div class="form-group row" v-if="selectedPdpChapter.chap_no === 19">
          <div class="col-sm-12">
            <infrastructuresector :sectors="sectors" :subsectors="subsectors"
            :sector_projects="sector_projects" :subsector_projects="subsector_projects" 
            ></infrastructuresector>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <div class="card" v-if="selectedPdpChapter !== '' ">
              <div class="card-header">
                <h5>
                  {{selectedPdpChapter.chap_description}}
                  <i class="fas fa-flag flag_tomato"></i>
                </h5>
              </div>
              <div class="card-body">
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label">
                    Chapter Outcome
                    <br />
                  </label>
                  <div class="col-sm-10">
                    <div v-for="(rm, index) in rm1" :key="index">
                      <input type="checkbox" name="Results_Matrices_1" :id="`rm1_${rm.id}`"  v-validate="'required'"
                      v-model="selectedRM1" @change="getRM2"
                      :value="{'rm1_id': rm.id, 'rm1_chapter_outcome': rm.chapter_outcome}">
                      <label :for="`rm1_${rm.id}`">{{rm.chapter_outcome}}</label>
                    </div>
                    <span class="text-danger">{{ errors.first('Results_Matrices_1') }}</span>
                    <!-- <multiselect
                      v-model="selectedRM1"
                      :options="rm1"
                      :multiple="true"
                      :close-on-select="false"
                      :clear-on-select="false"
                      placeholder="Single or Multiple Selection"
                      track-by="chapter_outcome"
                      :preselect-first="false"
                      :hide-selected="true"
                      label="chapter_outcome"
                      @select="getRM2"
                      name="Results_Matrices_1"
                      v-validate="'required'"
                    ></multiselect>
                    <span class="text-danger">{{ errors.first('Results_Matrices_1') }}</span> -->
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label">Sub-Chapter Outcome</label>
                  <div class="col-sm-10">
                    <div v-for="(rm2, index) in rm2" :key="index">
                      <input type="checkbox" name="Results_Matrices_2"
                      v-model="selectedRM2" :id="`rm2_${rm2.id}`" @change="getRM3" v-validate="'required'"
                      :value="{'rm2_id': rm2.id, 'rm2_chapter_outcome': rm2.intermediate_outcome}">
                      <label :for="`rm2_${rm2.id}`">{{rm2.intermediate_outcome}}</label>
                    </div>
                    <span class="text-danger">{{ errors.first('Results_Matrices_2') }}</span>
                    <!-- <multiselect
                      v-model="selectedRM2"
                      :options="rm2"
                      :multiple="true"
                      :close-on-select="false"
                      :clear-on-select="false"
                      placeholder="Single or Multiple Selection"
                      track-by="intermediate_outcome"
                      :preselect-first="false"
                      :hide-selected="true"
                      label="intermediate_outcome"
                      @select="getRM3"
                      name="Results_Matrices_2"
                      v-validate="'required'"
                    ></multiselect>
                    <span class="text-danger">{{ errors.first('Results_Matrices_2') }}</span> -->
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label">Sub-Chapter Outcome/Aggregate Output</label>
                  <div class="col-sm-10">
                    <div v-for="(rm3, index) in rm3" :key="index">
                      <input type="checkbox" name="Results_Matrices_3"
                      v-model="selectedRM3" :id="`rm3_${rm3.id}`" @change="getRM4"
                      :value="{'rm3_id': rm3.id, 'rm3_chapter_outcome': rm3.intermediate_outcome}">
                      <label :for="`rm3_${rm3.id}`">{{rm3.intermediate_outcome}}</label>
                    </div>
                    <!-- <multiselect
                      v-model="selectedRM3"
                      :options="rm3"
                      :multiple="true"
                      :close-on-select="false"
                      :clear-on-select="false"
                      placeholder="Single or Multiple Selection"
                      track-by="intermediate_outcome"
                      :preselect-first="false"
                      :hide-selected="true"
                      label="intermediate_outcome"
                      @select="getRM4"
                      name="Results_Matrices_3"
                    ></multiselect> -->
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label">Aggregate Output</label>
                  <div class="col-sm-10">
                    <div v-for="(rm4, index) in rm4" :key="index">
                      <input type="checkbox" name="Results_Matrices_4"
                      v-model="selectedRM4" :id="`rm4_${rm4.id}`"
                      :value="{'rm4_id':rm4.id, 'rm4_chapter_outcome': rm4.intermediate_outcome}">
                      <label :for="`rm4_${rm4.id}`">{{rm4.intermediate_outcome}}</label>
                    </div>
                    <!-- <multiselect
                      v-model="selectedRM4"
                      :options="rm4"
                      :multiple="true"
                      :close-on-select="false"
                      :clear-on-select="false"
                      placeholder="Single or Multiple Selection"
                      track-by="intermediate_outcome"
                      :preselect-first="false"
                      :hide-selected="true"
                      label="intermediate_outcome"
                      name="Results_Matrices_4"
                    ></multiselect> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end card body-->
    </div>
    <!--end card-->
  </div>
</template>

<script>
import infrastructuresector from "./InfrastructureSector.vue";
import store from "../../store/storetodb";

const mapDuplicateRM2 = new Map();
const mapDuplicateRM3 = new Map();
const mapDuplicateRM4 = new Map();
export default {
  name: "pdp",
  components: {infrastructuresector},
  props: ["chapters", "_1matrices", "_2matrices", "_3matrices", "_4matrices",
  "sectors", "subsectors", 'projects', 'chapters_projects', "sector_projects", "subsector_projects",
  "_1matrices_projects", "_2matrices_projects", "_3matrices_projects", "_4matrices_projects"
  ],
  data() {
    return {
      selectedPdpChapter: "",
      selectedOtherPdpChapter: [],
      selectedRM1: [],
      selectedRM2: [],
      selectedRM3: [],
      selectedRM4: [],
      rm1: [],
      rm2: [],
      rm3: [],
      rm4: []
    };
  },
  mounted(){
    if (this.projects != undefined) {
      this.chapters.forEach(e => {
        if (this.projects.mainpdp == e.chap_no) {
          this.selectedPdpChapter = e
          this.getRM1(e)
        }
        this.chapters_projects.forEach(el => {
          if (e.chap_no == el.chap_id) {
            this.selectedOtherPdpChapter.push(e)
          }
        });
      });
      this._1matrices_projects.forEach(e => {
        this.rm1.forEach(el => {
          if (el.id === e._1rm_id) {
            this.selectedRM1.push({rm1_chapter_outcome: el.chapter_outcome, rm1_id: el.id})
          }
        });
      });
      setTimeout(() => {
        this._2matrices_projects.forEach(e => {
          this.rm2.forEach(el => {
            if (el.id == e._2rm_id) {
              this.selectedRM2.push({
                rm2_chapter_outcome: el.intermediate_outcome,
                rm2_id: el.id
                })
            }
          })
        })
      }, 800);
      setTimeout(() => {
        this._3matrices_projects.forEach(e => {
          this.rm3.forEach(el => {
            if (el.id == e._3rm_id) {
              this.selectedRM3.push({
                rm3_chapter_outcome: el.intermediate_outcome,
                rm3_id: el.id
                })
            }
          })
        });
      }, 1500);
      setTimeout(() => {
        this._4matrices_projects.forEach(e => {
          this._4matrices.forEach(el => {
            if (el.id == e._4rm_id) {
              this.selectedRM4.push({
                rm4_chapter_outcome: el.intermediate_outcome,
                rm4_id: el.id
              })
            }
          });
        });
      }, 1800);
    }
  },
  watch: {
    selectedRM1: function(val) {
      if (this.projects != undefined) {
        val.forEach(e => {
          this.getRM2(e)
        });
      }
    },
    selectedRM2: function(val) {
      if (this.projects != undefined) {
        val.forEach(e => {
          this.getRM3(e)
        });
      }
    },
    selectedRM3: function(val) {
      if (this.projects != undefined) {
        val.forEach(e => {
          this.getRM4(e)
        });
      }
    }
  },
  methods: {
    getRM1(val) {
      this.selectedRM1.length = 0;
      this.selectedRM2.length = 0;
      this.selectedRM3.length = 0;
      this.selectedRM4.length = 0;
      this.rm1.length = 0;
      this.rm2.length = 0;
      this.rm3.length = 0;
      this.rm4.length = 0;
      mapDuplicateRM2.clear();
      mapDuplicateRM3.clear();
      mapDuplicateRM4.clear();
      this._1matrices.forEach(e => {
        if (e.chapter == val.chap_no) {
          this.rm1.push(e);
        }
      });
    },
    getRM2(val) {
      this.selectedRM2.length = 0;
      setTimeout(() => {
        this.selectedRM1.forEach(e => {
          let rm = this._2matrices.filter(data => (data.chapter_outcome_id == e.rm1_id))
          rm.forEach(e => {
            if (!mapDuplicateRM2.has(e.id)) {
              mapDuplicateRM2.set(e.id, true)
              this.rm2.push(e)
            }
          });
        });
      }, 500);
    },
    getRM3(val) {
      this.selectedRM3.length = 0;
      setTimeout(() => {
        this.selectedRM2.forEach(e => {
          let _3rm = this._3matrices.filter(data => (data.intermediate_outcome_id == e.rm2_id))
          _3rm.forEach(e => {
            if (!mapDuplicateRM3.has(e.id)) {
              mapDuplicateRM3.set(e.id, true)
              this.rm3.push(e)
            }
          });
        })
      }, 600);
    },
    getRM4(val) {
      this.selectedRM4.length = 0;
      setTimeout(() => {
        this.selectedRM3.forEach(e => {
          let _4rm = this._4matrices.filter(data => (data.intermediate_outcome_id == e.rm3_id))
          _4rm.forEach(e => {
            if (!mapDuplicateRM4.has(e.id)) {
              mapDuplicateRM4.set(e.id, true)
              this.rm4.push(e)
            }
          });
        })
      }, 700);
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.savetostore()
          return;
        }

        // alert("Fill up the required fields! PDP Chapter");
      });
    },
    savetostore(btn) {
      if (btn == "draft") {
        store.dispatch('UpdatePdpData', {
          selectedPdpChapter: this.selectedPdpChapter,
          selectedOtherPdpChapter: this.selectedOtherPdpChapter,
          selectedRM1: this.selectedRM1,
          selectedRM2: this.selectedRM2,
          selectedRM3: this.selectedRM3,
          selectedRM4: this.selectedRM4,
        })
      } else {
        store.dispatch('UpdatePdpData', {
          selectedPdpChapter: this.selectedPdpChapter,
          selectedOtherPdpChapter: this.selectedOtherPdpChapter,
          selectedRM1: this.selectedRM1,
          selectedRM2: this.selectedRM2,
          selectedRM3: this.selectedRM3,
          selectedRM4: this.selectedRM4,
          pdp: true
        })
      }
    }
  }
};
</script>

<style>
</style>
