<template>
  <div name="physicalaccomplishments" class="col-sm-12">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h5>Physical and Financial Status
          <br/>
          <!-- <small class="text-primary">For proposed program/project, please indicate the physical status of the program/project in 
            terms of project preparation, approval, funding, etc. If ongoing or completed, please provide information 
            on the delivery of outputs, percentage of completion and financial status/ accomplishment in terms of utilization rate
            </small> -->
        </h5>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">
            Status of Implementation Readiness
            <i class="fas fa-flag flag_tomato"></i>
          </label>
          <div class="col-sm-10">
            <multiselect
              v-model="selectedImplementation"
              :options="implementation"
              :multiple="false"
              :close-on-select="true"
              :clear-on-select="true"
              :preserve-search="false"
              placeholder="Single Selection"
              track-by="name"
              label="name"
              :preselect-first="false"
              :hide-selected="false"
              name="Status of Implementation Readiness"
              v-validate="'required'"
            ></multiselect>
            <span class="text-danger">{{ errors.first('Status of Implementation Readiness') }}</span>
          </div>
          <!-- <div class="form-group row"> -->
          <div class="col-sm-12" v-if="selectedImplementation.id === 1">
            <label for data-toggle="tooltip" data-placement="top">
              <strong>Will this require resubmission to the ICC - Yes/No</strong>
              <i class="fas fa-flag flag_tomato"></i>
            </label>
            <input
              type="radio"
              name="icc"
              id="iccable1"
              value="1"
              class="form-control-custom radio-custom form-check-input"
              v-model="iccable"
              v-validate="'required'"
            />
            <label for="iccable1">Yes</label>
            <input
              type="radio"
              name="icc"
              id="iccable2"
              value="0"
              class="form-control-custom radio-custom form-check-input"
              v-model="iccable"
              v-validate="'required'"
            />
            <label for="iccable2">No</label>
            <span class="text-danger">{{ errors.first('icc') }}</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">
            Physical and Financial Status Updates
            <i class="fas fa-flag flag_tomato"></i>
            <br/>
            <small class="text-primary">For proposed program/project, please indicate the physical status of the program/project in 
            terms of project preparation, approval, funding, etc. If ongoing or completed, please provide information 
            on the delivery of outputs, percentage of completion and financial status/ accomplishment in terms of utilization rate
            </small>
          </label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="5" id="comment" name="Physical and Financial Status Updates"
             v-validate="'required'" v-model="updates"></textarea>
             <span class="text-danger">{{ errors.first('Physical and Financial Status Updates') }}</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">As of &nbsp;<i class="fas fa-question-circle flag_tomato"
          title="Provide the reference date for the status provided using the As of date picker field."></i></label>
          <div class="col-sm-4">
            <input type="date" placeholder="" class="form-control" name="asof" 
            v-model="asof">
            <!-- <span class="text-danger">{{ errors.first('As_of') }}</span> -->
          </div>
        </div>
        <div class="form-group row" v-if="selectedImplementation.id === 2">
          <label class="col-sm-2 form-control-label">
            Level of Readiness
            <br/>
              <label
                data-toggle="tooltip"
                data-placement="top"
                title="with NEDA Board and/or ICC project approval but not yet ongoing."
                class="text-primary"
                >
                Level 1 CIP
                <i class="fas fa-question-circle flag_tomato"></i>
              </label> 
              <label
                data-toggle="tooltip"
                data-placement="top"
                title="with approval of appropriate approving body but not yet ongoing"
                class="text-primary"
                >
                / Non-CIP
                <i class="fas fa-question-circle flag_tomato"></i>
              </label> 
            <br/>
              <label
                data-toggle="tooltip"
                data-placement="top"
                title="with project preparation document  completed, for ICC processing in 2019 or 2020, if for NG funding,  included in the NEP for FY 2020 or for inclusion in NEP for FY 2021"
                class="text-primary"
                >
                Level 2 CIP
                <i class="fas fa-question-circle flag_tomato"></i>
              </label> 
              
              <label
                data-toggle="tooltip"
                data-placement="top"
                title="with project preparation document completed, for approval of appropriate approving body in 2019 or 2020, if for NG funding, included in the NEP for  FY 2020 or for inclusion in NEP for FY 2021"
                class="text-primary"
                >
                / Non-CIP
                <i class="fas fa-question-circle flag_tomato"></i>
              </label>
            <br/>
              <label
                data-toggle="tooltip"
                data-placement="top"
                title="with  project preparation document currently being prepared and to be completed in 2020, for ICC processing in 2021, if for NG funding, for inclusion in the NEP for FY 2022"
                class="text-primary"
                >
                Level 3 CIP
                <i class="fas fa-question-circle flag_tomato"></i>
              </label> 
              <label
                data-toggle="tooltip"
                data-placement="top"
                title="with project preparation document currently being prepared and to be completed in 2020, for approval of the appropriate approving body in 2021, if for NG funding, for inclusion in the NEP for FY 2022"
                class="text-primary"
                >
                / Non-CIP
                <i class="fas fa-question-circle flag_tomato"></i>
              </label>
            <br/>
              <label
                data-toggle="tooltip"
                data-placement="top"
                title="with project preparation document  for completion in 2021, for ICC processing in 2022, if for NG funding, for inclusion in the NEP for FY 2023"
                class="text-primary"
                >
                Level 4 CIP
                <i class="fas fa-question-circle flag_tomato"></i>
              </label> 
              <label
                data-toggle="tooltip"
                data-placement="top"
                title="with project preparation document for completion in 2021, for approval of the appropriate approving body in 2022, if for NG funding, for inclusion in the NEP for FY 2023"
                class="text-primary"
                >
                / Non-CIP
                <i class="fas fa-question-circle flag_tomato"></i>
              </label>
            <br/>
          </label>
          <div class="col-sm-10">
            <multiselect
              v-model="selectedLevelofReadiness"
              :options="levels"
              :multiple="false"
              :close-on-select="true"
              :clear-on-select="true"
              :preserve-search="false"
              placeholder="Single Selection"
              track-by="tier2_status"
              label="tier2_status"
              :preselect-first="false"
              :hide-selected="false"
              :allowEmpty="true"
              name="level_of_readiness"
              v-validate="'required'"
            ></multiselect>
            <span class="text-danger">{{ errors.first('level_of_readiness') }}</span>
          </div>
        </div>
        <physicalacc
          @updateDate="GetDate"
          @created="GetDate"
          v-if="selectedImplementation.id === 3"
        ></physicalacc>
        <div class="form-group row" v-if="selectedImplementation.id === 4">
          <div class="col-sm-2">
            <label for="dropreason">Reason/s for Dropping</label>
          </div>
          <div class="col-sm-10">
          <input id="dropreason" type="text" class="form-control" v-validate="'required'" 
          name="reasons_for_dropping" placeholder="Reason for Dropping">
          <span class="text-danger">{{ errors.first('reasons_for_dropping') }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import store from "../../store/storetodb";
import physicalacc from "./PhysicalAccDatePicker.vue";

const mapDuplicate = new Map();

export default {
  name: "physicalaccomplishments",
  components: {
    physicalacc
  },
  mounted() {
    this.GetTierStatuses();
    if (this.projects != undefined) {
      let selected = this.projects.implementationreadiness
      this.implementation.forEach(e => {
        if (e.id == selected) {
          this.selectedImplementation = e
        }
      });
      this.iccable = this.projects.iccable
      this.updates = this.projects.updates
      this.asof = this.projects.asof
      if (this.projects.cip != 0 && this.projects.cip != undefined) {
        store.dispatch('UpdateCipCardData', {
          cipCard: true
        })
        setTimeout(() => {
          this.GetTierStatuses()
        }, 500);
      }
      if (this.projects.tier2_status != undefined) {
        this.tier2statuses.forEach(e => {
          if (this.projects.tier2_status == e.id) {
            setTimeout(() => {
              this.selectedLevelofReadiness = e
            }, 500);
          }
        });
      }
    }
  },
  props: ["projects", "tier2statuses"],
  data() {
    return {
      selectedImplementation: "",
      iccable: "",
      implementation: [
        { id: 1, name: "Ongoing" },
        { id: 2, name: "Proposed" },
        { id: 3, name: "Completed" },
        // { id: 4, name: "Dropped" }
      ],
      selectedLevelofReadiness: "",
      levels: [],
      completionDate: "",
      dropreason: "",
      updates: "",
      asof: "",
      cipCard: false
    };
  },
  computed: {
    cip() {
      return store.state.cipCard
    }
  },
  watch: {
    cip: function() {
      mapDuplicate.clear()
      this.GetTierStatuses();
    }
  },
  methods: {
    GetTierStatuses() {
      if (this.cip === true) {
        this.levels = [];
        this.selectedLevelofReadiness = ""
        axios
          .post("getTier1Statuses")
          .then(res => {
            res.data.tier2statuses.forEach(e => {
              if (e.id < 5) {
                if (!mapDuplicate.has(e.id)) {
                  mapDuplicate.set(e.id, true)
                  this.levels.push(e);
                }
              }
            });
          })
          .catch(err => {
            console.error(err);
          });
      }
      if (this.cip == false) {
        this.levels = [];
        this.selectedLevelofReadiness = ""
        axios
          .post("getTier1Statuses")
          .then(res => {
            res.data.tier2statuses.forEach(e => {
              if (e.id >= 5) {
                if (!mapDuplicate.has(e.id)) {
                  mapDuplicate.set(e.id, true)
                  this.levels.push(e);
                }
              }
            });
          })
          .catch(err => {
            console.error(err);
          });
      }
    },
    GetDate(date) {
      this.completionDate = date;
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.savetostore()
          return;
        }

        // alert("Fill up the required fields! Physical Accomplishments");
      });
    },
    savetostore(btn) {
      if (btn == "draft") {
        store.dispatch('UpdatePhysicalAccomplishData', {
          selectedImplementation: this.selectedImplementation,
          iccable: this.iccable,
          selectedLevelofReadiness: this.selectedLevelofReadiness,
          completionDate: this.completionDate,
          dropreason: this.dropreason,
          updates: this.updates,
          asof: this.asof
        })
      } else {
        store.dispatch('UpdatePhysicalAccomplishData', {
          selectedImplementation: this.selectedImplementation,
          iccable: this.iccable,
          selectedLevelofReadiness: this.selectedLevelofReadiness,
          completionDate: this.completionDate,
          dropreason: this.dropreason,
          updates: this.updates,
          asof: this.asof,
          physicalaccomplishments: true
        })
      }
    }
  }
};
</script>

<style>
</style>
