<template>
  <div name="preconstruction">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h4>
          Pre-construction Costs
          <i class="fas fa-flag flag_tomato"></i>
        </h4>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <div class="col-sm-12">
            <div class="form-group row">
              <div class="col-sm-12">
                <div class="i-check">
                  <input
                    id="ROWA1"
                    type="radio"
                    value="1"
                    class="form-control-custom radio-custom form-check-input"
                    name="ROWA Component"
                    v-model="rowa1"
                    v-validate="'required'"
                  />
                  <label for="ROWA1">With ROWA Component?</label>&nbsp;&nbsp;&nbsp;
                  <input
                    id="ROWA1_No"
                    type="radio"
                    value="0"
                    class="form-control-custom radio-custom form-check-input"
                    name="ROWA Component"
                    v-model="rowa1"
                    v-validate="'required'"
                  />
                  <label for="ROWA1_No">Not Applicable</label>
                  <span class="text-danger">{{ errors.first('ROWA Component') }}</span>
                </div>
                <br />
                <genericcosttableROWA
                  type="preconstructionROWA1"
                  @getDataROne="getDataRowa1"
                  v-if="rowa1 == 1"
                  :rowa1_2017="rowa1_2017"
                  :rowa1_2018="rowa1_2018"
                  :rowa1_2019="rowa1_2019"
                  :rowa1_2020="rowa1_2020"
                  :rowa1_2021="rowa1_2021"
                  :rowa1_2022="rowa1_2022"
                ></genericcosttableROWA>
                <div class="form-group row" v-if="rowa1 == 1">
                  <label class="col-sm-2 form-control-label">No. of household affected</label>
                  <div class="col-sm-2">
                    <input
                      type="number"
                      class="form-control"
                      name="ROWA household affected"
                      v-model="rowa_affected"
                      v-validate="'required'"
                    />
                    <span class="text-danger">{{ errors.first('ROWA household affected') }}</span>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="form-group row">
              <div class="col-sm-12">
                <div class="i-checks">
                  <input
                    id="ROWA2"
                    type="radio"
                    value="1"
                    class="form-control-custom radio-custom form-check-input"
                    name="Resettlement Component"
                    v-model="rowa2"
                    v-validate="'required'"
                  />
                  <label for="ROWA2">With Resettlement Component?</label>&nbsp;&nbsp;&nbsp;
                  <input
                    id="ROWA2_No"
                    type="radio"
                    value="0"
                    class="form-control-custom radio-custom form-check-input"
                    name="Resettlement Component"
                    v-model="rowa2"
                    v-validate="'required'"
                  />
                  <label for="ROWA2_No">Not Applicable</label>
                  <span class="text-danger">{{ errors.first('Resettlement Component') }}</span>
                </div>
                <br />
                <genericcosttable
                  type="preconstructionROWA2"
                  @getDataRTwo="getDataRowa2"
                  v-if="rowa2 == 1"
                  :rowa2_2017="rowa2_2017"
                  :rowa2_2018="rowa2_2018"
                  :rowa2_2019="rowa2_2019"
                  :rowa2_2020="rowa2_2020"
                  :rowa2_2021="rowa2_2021"
                  :rowa2_2022="rowa2_2022"
                ></genericcosttable>
                <div class="form-group row" v-if="rowa2 == 1">
                  <label class="col-sm-2 form-control-label">No. of household affected</label>
                  <div class="col-sm-2">
                    <input
                      type="number"
                      class="form-control"
                      name="RC household affected"
                      v-model="rc_affected"
                      v-validate="'required'"
                    />
                    <span class="text-danger">{{ errors.first('RC household affected') }}</span>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="form-group row">
              <div class="col-sm-12">
                <div class="i-checks">
                  <input
                    id="ROWA3"
                    type="radio"
                    value="1"
                    class="form-control-custom radio-custom form-check-input"
                    name="ROWA and Resettlement Action Plan"
                    v-model="rowa3"
                    v-validate="'required'"
                  />
                  <label for="ROWA3">With ROWA and Resettlement Action Plan?</label>&nbsp;&nbsp;&nbsp;
                  <input
                    id="ROWA3_No"
                    type="radio"
                    value="0"
                    class="form-control-custom radio-custom form-check-input"
                    name="ROWA and Resettlement Action Plan"
                    v-model="rowa3"
                    v-validate="'required'"
                  />
                  <label for="ROWA3_No">Not Applicable</label>
                  <span class="text-danger">{{ errors.first('ROWA and Resettlement Action Plan') }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h4>
          Employment Generation
          <br />
          <small class="text-primary">
            Please indicate the no. of persons to be employed by the project outside of the
            implementing agency
          </small>
        </h4>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">Estimated no. of persons to be employed:</label>
          <div class="col-sm-4">
            <input type="number" class="form-control" name="employment" v-model="employmentgeneration" v-validate="'min_value:1'" />
          </div>
        </div>
        <span class="text-danger">{{ errors.first('employment') }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import genericcosttable from "./GenericCostTable.vue";
import genericcosttableROWA from "./GenericCostTableROWA.vue";
import store from "../../store/storetodb";

export default {
  name: "preconstruction",
  components: {
    genericcosttable, genericcosttableROWA
  },
  props:["projects", "rowa_projects", "rc_projects"],
  data() {
    return {
      rowa1: "",
      rowa_affected: "",
      rowa2: "",
      rc_affected: "",
      rowa3: "",
      // ROWA1
      rowa1_2017: 0,
      rowa1_2018: 0,
      rowa1_2019: 0,
      rowa1_2020: 0,
      rowa1_2021: 0,
      rowa1_2022: 0,
      rowa1_total: 0,
      // ROWA2
      rowa2_2017: 0,
      rowa2_2018: 0,
      rowa2_2019: 0,
      rowa2_2020: 0,
      rowa2_2021: 0,
      rowa2_2022: 0,
      rowa2_total: 0,
      //Employment Generation
      employmentgeneration:""
    };
  },
  mounted() {
    if (this.projects != undefined) {
      this.rowa1 = this.projects.rowa
      this.rowa_affected = this.projects.rowa_affected
      this.rowa2 = this.projects.rc
      this.rc_affected = this.projects.rc_affected
      this.rowa3 = this.projects.wrrc
      this.employmentgeneration = this.projects.employment
      this.rowa_projects.forEach(e => {
        if (e.rowayear == 2017) {
          if (e.rowacost != '' && e.rowacost != null) {
            this.rowa1_2017 = e.rowacost
          }else {
            this.rowa1_2017 = 0
          }
        }
        if (e.rowayear == 2018) {
          if (e.rowacost != null && e.rowacost != '') {
            this.rowa1_2018 = e.rowacost
          }else {
            this.rowa1_2018 = 0
          }
        }
        if (e.rowayear == 2019) {
          if (e.rowacost != null && e.rowacost != '') {
            this.rowa1_2019 = e.rowacost
          }else {
            this.rowa1_2019 = 0
          }
        }
        if (e.rowayear == 2020) {
          if (e.rowacost != null && e.rowacost != '') {
            this.rowa1_2020 = e.rowacost
          }else {
            this.rowa1_2020 = 0
          }
        }
        if (e.rowayear == 2021) {
          if (e.rowacost != null && e.rowacost != '') {
            this.rowa1_2021 = e.rowacost
          }else {
            this.rowa1_2021 = 0
          }
        }
        if (e.rowayear == 2022) {
          if (e.rowacost != null && e.rowacost != '') {
            this.rowa1_2022 = e.rowacost
          }else {
            this.rowa1_2022 = 0
          }
        }
      });
      this.rc_projects.forEach(e => {
        if (e.rcyear == 2017) {
          if (e.rccost != '' && e.rccost != null) {
            this.rowa2_2017 = e.rccost
          }else {
            this.rowa2_2017 = 0
          }
        }
        if (e.rcyear == 2018) {
          if (e.rccost != '' && e.rccost != null) {
            this.rowa2_2018 = e.rccost
          }else {
            this.rowa2_2018 = 0
          }
        }
        if (e.rcyear == 2019) {
          if (e.rccost != '' && e.rccost != null) {
            this.rowa2_2019 = e.rccost
          }else {
            this.rowa2_2019 = 0
          }
        }
        if (e.rcyear == 2020) {
          if (e.rccost != '' && e.rccost != null) {
            this.rowa2_2020 = e.rccost
          }else {
            this.rowa2_2020 = 0
          }
        }
        if (e.rcyear == 2021) {
          if (e.rccost != '' && e.rccost != null) {
            this.rowa2_2021 = e.rccost
          }else {
            this.rowa2_2021 = 0
          }
        }
        if (e.rcyear == 2022) {
          if (e.rccost != '' && e.rccost != null) {
            this.rowa2_2022 = e.rccost
          }else {
            this.rowa2_2022 = 0
          }
        }
      });
    }
  },
  methods: {
    getDataRowa1(val) {
      this.rowa1_2017 = val.gen_2017;
      this.rowa1_2018 = val.gen_2018;
      this.rowa1_2019 = val.gen_2019;
      this.rowa1_2020 = val.gen_2020;
      this.rowa1_2021 = val.gen_2021;
      this.rowa1_2022 = val.gen_2022;
      this.rowa1_total = val.gen_total;
    },
    getDataRowa2(val) {
      this.rowa2_2017 = val.gen_2017;
      this.rowa2_2018 = val.gen_2018;
      this.rowa2_2019 = val.gen_2019;
      this.rowa2_2020 = val.gen_2020;
      this.rowa2_2021 = val.gen_2021;
      this.rowa2_2022 = val.gen_2022;
      this.rowa2_total = val.gen_total;
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.savetostore()
          return;
        }

        // alert("Fill up the required fields! Pre-construction Cost");
      });
    },
    savetostore(btn) {
      if (btn == "draft") {
        store.dispatch('UpdatePreConstructionData', {
          rowa1: this.rowa1,
          rowa_affected: this.rowa_affected,
          rowa2: this.rowa2,
          rc_affected: this.rc_affected,
          rowa3: this.rowa3,
          // ROWA1
          rowa1_2017: this.rowa1_2017,
          rowa1_2018: this.rowa1_2018,
          rowa1_2019: this.rowa1_2019,
          rowa1_2020: this.rowa1_2020,
          rowa1_2021: this.rowa1_2021,
          rowa1_2022: this.rowa1_2022,
          rowa1_total: this.rowa1_total,
          // ROWA2
          rowa2_2017: this.rowa2_2017,
          rowa2_2018: this.rowa2_2018,
          rowa2_2019: this.rowa2_2019,
          rowa2_2020: this.rowa2_2020,
          rowa2_2021: this.rowa2_2021,
          rowa2_2022: this.rowa2_2022,
          rowa2_total: this.rowa2_total,
          //Employment Generation
          employmentgeneration: this.employmentgeneration,
        })
      } else {
        store.dispatch('UpdatePreConstructionData', {
          rowa1: this.rowa1,
          rowa_affected: this.rowa_affected,
          rowa2: this.rowa2,
          rc_affected: this.rc_affected,
          rowa3: this.rowa3,
          // ROWA1
          rowa1_2017: this.rowa1_2017,
          rowa1_2018: this.rowa1_2018,
          rowa1_2019: this.rowa1_2019,
          rowa1_2020: this.rowa1_2020,
          rowa1_2021: this.rowa1_2021,
          rowa1_2022: this.rowa1_2022,
          rowa1_total: this.rowa1_total,
          // ROWA2
          rowa2_2017: this.rowa2_2017,
          rowa2_2018: this.rowa2_2018,
          rowa2_2019: this.rowa2_2019,
          rowa2_2020: this.rowa2_2020,
          rowa2_2021: this.rowa2_2021,
          rowa2_2022: this.rowa2_2022,
          rowa2_total: this.rowa2_total,
          //Employment Generation
          employmentgeneration: this.employmentgeneration,
          preconstruction: true
        })
      }
    }
  }
};
</script>

<style>
</style>
