<template>
  <div name="projectpreparation">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h4>
          Project Preparation Details
          <i class="fas fa-flag flag_tomato"></i>
        </h4>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">Project Preparation Document</label>
          <div class="col-sm-10">
            <multiselect
              v-model="selectedProjectPrep"
              :options="projectdocuments"
              :multiple="false"
              :close-on-select="true"
              :clear-on-select="false"
              :preserve-search="false"
              placeholder="Single Selection"
              label="projectdocument"
              track-by="projectdocument"
              :preselect-first="false"
              :hide-selected="true"
              name="Project_Preparation_Document"
              v-validate="'required'"
            ></multiselect>
            <span class="text-danger">{{ errors.first('Project_Preparation_Document') }}</span>
          </div>
        </div>
        <!-- FeASIBILITY sTUDY -->
        <div class="card" v-if="selectedProjectPrep.id === 1">
          <div class="card-body">
            <label class="col-sm-2 form-control-label">Status</label>
            <div class="col-sm-4">
              <multiselect
                v-model="selectedFSStatus"
                :options="fsstatuses"
                :multiple="false"
                :close-on-select="true"
                :clear-on-select="false"
                :preserve-search="false"
                placeholder="Single Selection"
                label="fs_status"
                track-by="fs_status"
                :preselect-first="false"
                :hide-selected="false"
                name="FS_Status"
                v-validate="'required'"
              ></multiselect>
              <span class="text-danger">{{ errors.first('FS_Status') }}</span>
            </div>
            <br />
            <div class="col-sm-12" v-if="selectedFSStatus.id == 3">
              <input
                id="fsassistance"
                type="checkbox"
                value="1"
                class="form-control-custom"
                name="fsassistance"
                v-model="selectedFSAssistance"
              />
              <label
                for="fsassistance"
              >Will require assistance for the conduct of Feasibility Study?</label>
            </div>
            <br/>
            <div v-if="selectedFSStatus.id == 2" class="col-sm-4" >
              Expected completion date: <input type="date" v-model="fsstatus_ongoing" class="form-control">
            </div>
            <div v-if="selectedFSStatus.id == 3" class="col-sm-4">
              Start date: <input type="date" v-model="fsstatus_prep" class="form-control">
            </div>
            <br />
            <div class="col-sm-12">
              <label for>Schedule of F/S Cost (In Exact Amount in PhP)</label>
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>2017</th>
                          <th>2018</th>
                          <th>2019</th>
                          <th>2020</th>
                          <th>2021</th>
                          <th>2022</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="fs_2017"
                              v-model="fs_2017"
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="fs_2018"
                              v-model="fs_2018"
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="fs_2019"
                              v-model="fs_2019"
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="fs_2020"
                              v-model="fs_2020"
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="fs_2021"
                              v-model="fs_2021"
                            />
                          </td>
                          <td>
                            <input
                              type="number"
                              class="form-control"
                              name="fs_2022"
                              v-model="fs_2022"
                            />
                          </td>
                          <td>{{fs_total}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of inner card -->
        <div class="card" v-if="selectedProjectPrep.id === 5">
          <div class="card-body">
            <div class="form-group row" id="others">
              <label class="col-sm-2 form-control-label">Others</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="ppdetails_others" v-model="othersProjectPrep" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end of Card body -->
    </div>
  </div>
</template>

<script>
import store from "../../store/storetodb";

export default {
  name: "projectpreparation",
  props: ["projectdocuments", "fsstatuses", "projects", "fscost_projects"],
  data() {
    return {
      selectedProjectPrep: "",
      selectedFSAssistance: false,
      selectedFSStatus: {
        fs_status: "Ongoing",
        id: 2
      },
      fs_2017: 0,
      fs_2018: 0,
      fs_2019: 0,
      fs_2020: 0,
      fs_2021: 0,
      fs_2022: 0,
      fs_total: 0,
      othersProjectPrep:"",
      fsstatus_ongoing: "",
      fsstatus_prep: ""
    };
  },
  mounted() {
    if (this.projects != undefined) {
      this.projectdocuments.forEach(e => {
        if (e.id == this.projects.ppdetails) {
          this.selectedProjectPrep = e
        }
      });
      this.selectedFSAssistance = this.projects.fsassistance
      this.fsstatus_prep = this.projects.fsstatus_prep
      this.fsstatus_ongoing = this.projects.fsstatus_ongoing
      this.fsstatuses.forEach(e => {
        if (e.id == this.projects.fsstatus) {
          this.selectedFSStatus = e
        }
      });
      this.fscost_projects.forEach(e => {
        if (e.fsyear === 2017) {
          this.fs_2017 = (e.fscost != '' ? e.fscost : 0)  
        }
        if (e.fsyear === 2018) {
          this.fs_2018 = (e.fscost != '' ? e.fscost : 0)
        }
        if (e.fsyear === 2019) {
          this.fs_2019 = (e.fscost != '' ? e.fscost : 0)
        }
        if (e.fsyear === 2020) {
          this.fs_2020 = (e.fscost != '' ? e.fscost : 0)  
        }
        if (e.fsyear === 2021) {
          this.fs_2021 = (e.fscost != '' ? e.fscost : 0)
        }
        if (e.fsyear === 2022) {
          this.fs_2022 = (e.fscost != '' ? e.fscost : 0)
        }
      });
      this.othersProjectPrep = this.projects.ppdetails_others
    }
  },
  watch: {
    fs_2017() {
      this.getTotal();
    },
    fs_2018() {
      this.getTotal();
    },
    fs_2019() {
      this.getTotal();
    },
    fs_2020() {
      this.getTotal();
    },
    fs_2021() {
      this.getTotal();
    },
    fs_2022() {
      this.getTotal();
    }
  },
  methods: {
    getTotal() {
      this.fs_2017 = parseFloat(this.fs_2017, 10);
      this.fs_2018 = parseFloat(this.fs_2018, 10);
      this.fs_2019 = parseFloat(this.fs_2019, 10);
      this.fs_2020 = parseFloat(this.fs_2020, 10);
      this.fs_2021 = parseFloat(this.fs_2021, 10);
      this.fs_2022 = parseFloat(this.fs_2022, 10);
      this.fs_total =
        this.fs_2017 +
        this.fs_2018 +
        this.fs_2019 +
        this.fs_2020 +
        this.fs_2021 +
        this.fs_2022;
    },
    validateBeforeSubmit() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.savetostore()
          return;
        }

        // alert("Fill up the required fields! Project Preparation");
      });
    },
    savetostore(btn) {
      if (btn == "draft") {
        store.dispatch('UpdateProjectPrepData', {
          selectedProjectPrep: this.selectedProjectPrep,
          selectedFSAssistance: this.selectedFSAssistance,
          selectedFSStatus: this.selectedFSStatus ,
          fs_2017: this.fs_2017,
          fs_2018: this.fs_2018,
          fs_2019: this.fs_2019,
          fs_2020: this.fs_2020,
          fs_2021: this.fs_2021,
          fs_2022: this.fs_2022,
          fs_total: this.fs_total,
          othersProjectPrep: this.othersProjectPrep,
          fsstatus_ongoing: this.fsstatus_ongoing,
          fsstatus_prep: this.fsstatus_prep,
        })
      } else {
        store.dispatch('UpdateProjectPrepData', {
          selectedProjectPrep: this.selectedProjectPrep,
          selectedFSAssistance: this.selectedFSAssistance,
          selectedFSStatus: this.selectedFSStatus ,
          fs_2017: this.fs_2017,
          fs_2018: this.fs_2018,
          fs_2019: this.fs_2019,
          fs_2020: this.fs_2020,
          fs_2021: this.fs_2021,
          fs_2022: this.fs_2022,
          fs_total: this.fs_total,
          othersProjectPrep: this.othersProjectPrep,
          fsstatus_ongoing: this.fsstatus_ongoing,
          fsstatus_prep: this.fsstatus_prep,
          projectpreparation: true
        })
      }
    }

  }
};
</script>

<style>
</style>
