<template>
  <div name="regionalbreakdown">
    <div
      id="rb"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
      class="modal fade number-left"
    >
      <div role="document" class="modal-dialog modal-lg" style="max-width: 100%;">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="exampleModalLabel" class="modal-title">Regional Breakdown</h5>
            <button type="button" data-dismiss="modal" aria-label="Close" class="close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Region</th>
                            <th>2016 and Prior</th>
                            <th>2017</th>
                            <th>2018</th>
                            <th>2019</th>
                            <th>2020</th>
                            <th>2021</th>
                            <th>2022</th>
                            <th>2017-2022</th>
                            <th>Continuing Years</th>
                            <th>Overall Total</th>
                          </tr>
                        </thead>
                        <tbody id="rbBody">
                          <tr v-for="region in regions" :key="region.id">
                            <td>{{ region.region_description }}</td>
                            <td>
                              <input
                                type="text"
                                
                                :class="`form-control`"
                                :name="`2016_${region.region_code}`"
                              />
                            </td>
                            <td>
                              <input
                                type="text"
                                
                                :class="`form-control rb-number ${region.region_code}1`"
                                :name="`2017_${region.region_code}`"
                              />
                            </td>
                            <td>
                              <input
                                type="text"
                                
                                :class="`form-control rb-number ${region.region_code}1`"
                                :name="`2018_${region.region_code}`"
                              />
                            </td>
                            <td>
                              <input
                                type="text"
                                
                                :class="`form-control rb-number ${region.region_code}1`"
                                :name="`2019_${region.region_code}`"
                              />
                            </td>
                            <td>
                              <input
                                type="text"
                                
                                :class="`form-control rb-number ${region.region_code}1`"
                                :name="`2020_${region.region_code}`"
                              />
                            </td>
                            <td>
                              <input
                                type="text"
                                
                                :class="`form-control rb-number ${region.region_code}1`"
                                :name="`2021_${region.region_code}`"
                              />
                            </td>
                            <td>
                              <input
                                type="text"
                                
                                :class="`form-control rb-number ${region.region_code}1`"
                                :name="`2022_${region.region_code}`"
                              />
                            </td>
                            <td>
                              <span class="rb-total2" :id="`${region.region_code}2_total`">0</span>
                            </td>
                            <td>
                              <input
                                type="text"
                                
                                :class="`form-control rb-number ${region.region_code}1 rb_2023`"
                                :name="`2023_${region.region_code}`"
                              />
                            </td>
                            <td>
                              <span class="rb-total_all" :id="`${region.region_code}_total_all`">0</span>
                            </td>
                          </tr>
                          <tr>
                            <th>Total</th>
                            <th>
                              <span id="rb_2016_total">0</span>
                            </th>
                            <th>
                              <span id="rb_2017_total">0</span>
                            </th>
                            <th>
                              <span id="rb_2018_total">0</span>
                            </th>
                            <th>
                              <span id="rb_2019_total">0</span>
                            </th>
                            <th>
                              <span id="rb_2020_total">0</span>
                            </th>
                            <th>
                              <span id="rb_2021_total">0</span>
                            </th>
                            <th>
                              <span id="rb_2022_total">0</span>
                            </th>
                            <th>
                              <span id="rb_total2">0</span>
                            </th>
                            <th>
                              <span id="rb_2023_total">0</span>
                            </th>
                            <th>
                              <span id="rb_total_all">0</span>
                            </th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "regionalbreakdown",
  data() {
    return {
        regions: [],
    };
  },
  mounted() {
    this.getRegions();
  },
  methods: {
    getRegions() {
      axios
        .post("getRegions")
        .then(res => {
          this.regions = res.data;
        })
        .catch(err => {
          console.error(err);
        });
    }
  },
};
</script>

<style>
</style>
