<template>
  <div name="spatialcoverage">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h4>
          Spatial Coverage
          <i class="fas fa-flag flag_tomato"></i>
        </h4>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">
            Coverage
            <br />
            <small class="text-primary">
              Nationwide
              <label
                data-toggle="tooltip"
                data-placement="top"
                title="If spatial coverage/impact of a program or project covers all regions (in parts or as a whole)."
              >
                <i class="fas fa-question-circle flag_tomato"></i>
              </label>
            </small>
            <small class="text-primary">
              Interregional
              <label
                data-toggle="tooltip"
                data-placement="top"
                title="If spatial coverage/impact of a program or project pertains to more than one region (in parts or as a whole) 
              but not all regions."
              >
                <i class="fas fa-question-circle flag_tomato"></i>
              </label>
            </small>
            <small class="text-primary">
              <br />Region-Specific
              <label
                data-toggle="tooltip"
                data-placement="top"
                title="If spatial coverage/impact of a program or a project pertains to one region (in parts or as a whole)."
              >
                <i class="fas fa-question-circle flag_tomato"></i>
              </label>
            </small>
            <small class="text-primary">
              Abroad
              <label
                data-toggle="tooltip"
                data-placement="top"
                title="If spatial coverage of a program or project is outside the country that will have an impact to Filipinos 
                outside of the country (e.g., Overseas Filipino Workers)."
              >
                <i class="fas fa-question-circle flag_tomato"></i>
              </label>
            </small>
          </label>
          <div class="col-sm-10">
            <multiselect
              v-model="selectedCoverage"
              :options="coverage"
              :multiple="false"
              :close-on-select="true"
              :clear-on-select="false"
              :preserve-search="false"
              placeholder="Select One"
              label="name"
              track-by="name"
              :preselect-first="false"
              :hide-selected="false"
              :allow-empty="false"
              name="Coverage"
              v-validate="'required'"
            ></multiselect>
            <span class="text-danger">{{ errors.first('Coverage') }}</span>
          </div>
          <!-- Interregional Card -->
          <div class="col-sm-12" v-if="selectedCoverage.name == 'Interregional'">
            <!-- <div class="col-sm-12" v-show="selectedCoverage.name == 'Interregional'"> -->
            <div class="card">
              <div class="card-body">
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label">Region</label>
                  <div class="col-sm-10">
                    <multiselect
                      v-model="selectedRegions"
                      :options="regions"
                      :multiple="true"
                      :close-on-select="false"
                      :clear-on-select="false"
                      :preserve-search="false"
                      placeholder="Type to Search"
                      label="region_description"
                      track-by="region_description"
                      :preselect-first="false"
                      :hide-selected="false"
                      :loading="isLoadingRegion"
                      @search-change="asyncFindRegions"
                      @select="getProvinces"
                      @remove="removeRegion"
                      name="regions"
                      v-validate="'required'"
                    ></multiselect>
                    <small class="text-primary">Must select multiple regions</small>
                    <br />
                    <span class="text-danger">{{ errors.first('regions') }}</span>
                  </div>
                  <label class="col-sm-2 form-control-label">Provinces</label>
                  <div class="col-sm-10">
                    <multiselect
                      v-model="selectedProvinces"
                      :options="provinces"
                      :multiple="true"
                      :close-on-select="true"
                      :clear-on-select="false"
                      :preserve-search="false"
                      placeholder="Single or Multiple Selection"
                      label="provName"
                      track-by="provName"
                      :preselect-first="false"
                      :hide-selected="false"
                      @select="getCities"
                      @remove="removeProv"
                      name="provinces"
                      v-validate="'required'"
                    ></multiselect>
                    <span class="text-danger">{{ errors.first('provinces') }}</span>
                  </div>
                  <label class="col-sm-2 form-control-label">City/Municipality</label>
                  <div class="col-sm-10">
                    <multiselect
                      v-model="selectedCities"
                      :options="cities"
                      :multiple="true"
                      :close-on-select="true"
                      :clear-on-select="false"
                      :preserve-search="false"
                      placeholder="Single or Multiple Selection"
                      label="cityName"
                      track-by="cityName"
                      :preselect-first="false"
                      :hide-selected="false"
                      name="cities"
                    ></multiselect>
                    <!-- <span class="text-danger">{{ errors.first('cities') }}</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end of Interregional Card -->
          <!-- Region Specific Card -->
          <div class="col-sm-12" v-if="selectedCoverage.name == 'Region Specific'">
            <!-- <div class="col-sm-12" v-show="selectedCoverage.name == 'Region Specific'"> -->
            <div class="card">
              <div class="card-body">
                <div class="form-group row">
                  <label class="col-sm-2 form-control-label">Region</label>
                  <div class="col-sm-10">
                    <multiselect
                      v-model="selectedRegionsRegional"
                      :options="regions"
                      :multiple="false"
                      :close-on-select="true"
                      :clear-on-select="false"
                      :preserve-search="false"
                      placeholder="Type to Search"
                      label="region_description"
                      track-by="region_description"
                      :preselect-first="false"
                      :hide-selected="false"
                      :loading="isLoadingRegion"
                      @search-change="asyncFindRegions"
                      @input="getProvincesRegional"
                      name="specRegions"
                      v-validate="'required'"
                    ></multiselect>
                    <span class="text-danger">{{ errors.first('specRegions') }}</span>
                  </div>
                  <label class="col-sm-2 form-control-label">Provinces</label>
                  <div class="col-sm-10">
                    <multiselect
                      v-model="selectedProvincesRegional"
                      :options="provinces"
                      :multiple="true"
                      :close-on-select="true"
                      :clear-on-select="false"
                      :preserve-search="false"
                      placeholder="Single or Multiple Selection"
                      label="provName"
                      track-by="provName"
                      :preselect-first="false"
                      :hide-selected="false"
                      @select="getCitiesRegional"
                      @remove="removeProvRegional"
                      name="specProvinces"
                      v-validate="'required'"
                    ></multiselect>
                    <span class="text-danger">{{ errors.first('specProvinces') }}</span>
                  </div>
                  <label class="col-sm-2 form-control-label">City/Municipality</label>
                  <div class="col-sm-10">
                    <multiselect
                      v-model="selectedCitiesRegionspecific"
                      :options="cities"
                      :multiple="true"
                      :close-on-select="true"
                      :clear-on-select="false"
                      :preserve-search="false"
                      placeholder="Single or Multiple Selection"
                      label="cityName"
                      track-by="cityName"
                      :preselect-first="false"
                      :hide-selected="false"
                      name="specCities"
                    ></multiselect>
                    <!-- <span class="text-danger">{{ errors.first('specCities') }}</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--End of Region Specific Card -->
        </div>
      </div>
      <div class="card-footer">
        <projectcost1 :selectedRegions="selectedRegions"
        :selectedRegionsRegional="selectedRegionsRegional"
        :regionalcost="regionalcost"
        :selectedCoverage="selectedCoverage"
          ref="projectcost" 
          v-if="selectedCoverage.name != 'Abroad'">
        </projectcost1>
      </div>
    </div>
  </div>
</template>

<script>
import store from "../../store/storetodb";
import projectcost1 from "./ProjectCost1.vue";

const mapDuplicate = new Map();
const mapDuplicateRegions = new Map();

export default {
  name: "spatialcoverage",
  props:['projects', 'city_projects', 'province_projects', 'regions_projects', 'regionalcost'],
  components: { projectcost1 },
  mounted() {
    if (this.projects != undefined) {
      this.selectedCoverage = {name: this.projects.spatial}
      if (this.projects.spatial == "Interregional") {
        setTimeout(() => {
          this.updateAreas()
        }, 1000);
      }
      if (this.projects.spatial == "Region Specific") {
        setTimeout(() => {
          this.updateAreas()
        }, 1000);
      }

    }
  },
  data() {
    return {
      //spatial coverage
      selectedCoverage: "",
      selectedRegions: [],
      selectedProvinces: [],
      selectedCities: [],
      selectedRegionsRegional: [],
      selectedProvincesRegional: [],
      selectedCitiesRegionspecific: [],
      //Options
      agencies: [],
      regions: [],
      provinces: [],
      cities: [],
      isLoading: false,
      isLoadingRegion: false,
      coverage: [
        { name: "Nationwide" },
        { name: "Interregional" },
        { name: "Region Specific" },
        { name: "Abroad" }
      ]
    };
  },
  methods: {
    codeWithDesc({ Abbreviation, UACS_AGY_DSC }) {
      return `${UACS_AGY_DSC} — [${Abbreviation}]`;
    },
    asyncFindRegions(query) {
      this.isLoadingRegion = true;
      if (this.projects != null) {
        axios
          .post("/asyncFindRegions", { query })
          .then(res => {
            res.data.forEach(e => {
              if (!mapDuplicateRegions.has(e.region_no)) {
                mapDuplicateRegions.set(e.region_no, true);
                this.regions.push(e);
              }
            });
            this.isLoadingRegion = false;
          })
          .catch(err => {
            console.error(err);
          });
      } else {
        axios
          .post("asyncFindRegions", { query })
          .then(res => {
            res.data.forEach(e => {
              if (!mapDuplicateRegions.has(e.region_no)) {
                mapDuplicateRegions.set(e.region_no, true);
                this.regions.push(e);
              }
            });
            this.isLoadingRegion = false;
          })
          .catch(err => {
            console.error(err);
          });
      }
    },
    getProvinces(selectedOption) {
      setTimeout(() => {
        this.savetostore();
      }, 1000);
      if (this.projects != null) {
        axios
          .post(`/getProvinces`, { region: selectedOption })
          .then(res => {
            res.data.forEach(e => {
              this.provinces.push(e);
            });
          })
          .catch(err => {
            console.error(err);
          });
      } else {
        axios
          .post("getProvinces", { region: selectedOption })
          .then(res => {
            res.data.forEach(e => {
              this.provinces.push(e);
            });
          })
          .catch(err => {
            console.error(err);
          });
      }
    },
    getCities(selectedOption) {
      if (this.projects != null) {
        axios
          .post(`/getCities`, { city: selectedOption })
          .then(res => {
            res.data.forEach(e => {
              this.cities.push(e);
            });
          })
          .catch(err => {
            console.error(err);
          });
      } else {
        axios
          .post("getCities", { city: selectedOption })
          .then(res => {
            res.data.forEach(e => {
              this.cities.push(e);
            });
          })
          .catch(err => {
            console.error(err);
          });
      }
    },
    removeProv(removedOption) {
      this.cities = [];
      this.selectedCities = [];
      setTimeout(() => {
        if (this.selectedProvinces.length !== 0) {
          if (this.projects != null) {
            axios
              .post(`/getCities`, {
                city: this.selectedProvinces,
                remove: true
              })
              .then(res => {
                res.data.forEach(e => {
                  e.forEach(element => {
                    this.cities.push(element);
                  });
                });
              })
              .catch(err => {
                console.error(err);
              });
          } else {
            axios
              .post("getCities", { city: this.selectedProvinces, remove: true })
              .then(res => {
                res.data.forEach(e => {
                  e.forEach(element => {
                    this.cities.push(element);
                  });
                });
              })
              .catch(err => {
                console.error(err);
              });
          }
        }
      }, 1000);
    },
    removeRegion(removedOption) {
      setTimeout(() => {
        this.savetostore();
      }, 500);
      this.provinces = [];
      this.selectedProvinces = [];
      this.cities = [];
      this.selectedCities = [];
      setTimeout(() => {
        if (this.selectedRegions.length !== 0) {
          if (this.projects != null) {
            axios
              .post(`/getProvinces`, {
                region: this.selectedRegions,
                remove: true
              })
              .then(res => {
                res.data.forEach(e => {
                  e.forEach(element => {
                    this.provinces.push(element);
                  });
                });
              })
              .catch(err => {
                console.error(err);
              });
          } else {
            axios
              .post("getProvinces", {
                region: this.selectedRegions,
                remove: true
              })
              .then(res => {
                res.data.forEach(e => {
                  e.forEach(element => {
                    this.provinces.push(element);
                  });
                });
              })
              .catch(err => {
                console.error(err);
              });
          }
        }
      }, 1000);
    },
    getProvincesRegional(selectedOption) {
      this.selectedProvincesRegional = [];
      this.selectedCitiesRegionspecific = []
      this.provinces = [];
      this.savetostore();
      if (this.projects != null) {
        axios
          .post(`/getProvinces`, { region: selectedOption })
          .then(res => {
            res.data.forEach(e => {
              this.provinces.push(e);
            });
          })
          .catch(err => {
            console.error(err);
          });
      } else {
        axios
          .post("getProvinces", { region: selectedOption })
          .then(res => {
            res.data.forEach(e => {
              this.provinces.push(e);
            });
          })
          .catch(err => {
            console.error(err);
          });
      }
    },
    getCitiesRegional(selectedOption) {
      if (this.projects != null) {
        axios
          .post(`/getCities`, { city: selectedOption })
          .then(res => {
            res.data.forEach(e => {
              this.cities.push(e);
            });
          })
          .catch(err => {
            console.error(err);
          });
      } else {
        axios
          .post("getCities", { city: selectedOption })
          .then(res => {
            res.data.forEach(e => {
              this.cities.push(e);
            });
          })
          .catch(err => {
            console.error(err);
          });
      }
    },
    removeProvRegional(removedOption) {
      this.cities = [];
      this.selectedCitiesRegionspecific = [];
      setTimeout(() => {
        if (this.selectedProvincesRegional.length !== 0) {
          if (this.projects != null) {
            axios
              .post(`/getCities`, {
                city: this.selectedProvincesRegional,
                remove: true
              })
              .then(res => {
                res.data.forEach(e => {
                  e.forEach(element => {
                    this.cities.push(element);
                  });
                });
              })
              .catch(err => {
                console.error(err);
              });
          } else {
            axios
              .post("getCities", {
                city: this.selectedProvincesRegional,
                remove: true
              })
              .then(res => {
                res.data.forEach(e => {
                  e.forEach(element => {
                    this.cities.push(element);
                  });
                });
              })
              .catch(err => {
                console.error(err);
              });
          }
        }
      }, 1000);
    },
    validateBeforeSubmit() {
       if (this.selectedCoverage.name != 'Abroad') {
        this.$refs.projectcost.validateBeforeSubmit()
      }
      this.$validator.validateAll().then(result => {
        if (result) {
          this.savetostore();
          return;
        }

        // alert("Fill up the required fields! Spatial Coverage");
      });
    },
    savetostore(btn) {
      if (btn == "draft") {
        if (this.selectedCoverage.name != 'Abroad') {
          this.$refs.projectcost.savetostore()
        }
        store.dispatch("UpdateSpatialData", {
          selectedCoverage: this.selectedCoverage,
          selectedRegions: this.selectedRegions,
          selectedProvinces: this.selectedProvinces,
          selectedCities: this.selectedCities,
          selectedRegionsRegional: this.selectedRegionsRegional,
          selectedProvincesRegional: this.selectedProvincesRegional,
          selectedCitiesRegionspecific: this.selectedCitiesRegionspecific
        });
      } else {
        if (this.selectedCoverage.name != 'Abroad') {
          this.$refs.projectcost.savetostore()
        }
        store.dispatch("UpdateSpatialData", {
          selectedCoverage: this.selectedCoverage,
          selectedRegions: this.selectedRegions,
          selectedProvinces: this.selectedProvinces,
          selectedCities: this.selectedCities,
          selectedRegionsRegional: this.selectedRegionsRegional,
          selectedProvincesRegional: this.selectedProvincesRegional,
          selectedCitiesRegionspecific: this.selectedCitiesRegionspecific,
          spatial: true
        });
      }
    },
    updateAreas() {
      if (this.selectedCoverage.name == "Region Specific") {
        console.log(this.province_projects)
        setTimeout(() => {
          this.selectedRegionsRegional = this.regions_projects
          this.selectedProvincesRegional = this.province_projects
          this.selectedCitiesRegionspecific = this.city_projects
        }, 500);
        setTimeout(() => {
        this.savetostore()
      }, 500);
      this.regions_projects.forEach(e => {
        this.getProvincesRegional(e)
      });
      }else {
        this.selectedRegions = this.regions_projects
        this.selectedProvinces = this.province_projects
        this.selectedCities = this.city_projects
      setTimeout(() => {
        this.savetostore()
      }, 500);
      this.regions_projects.forEach(e => {
        this.getProvincesRegional(e)
      });
      }
    },
  },
  watch: {
    selectedCoverage: function() {
      this.regions = [];
      this.provinces = [];
      this.cities = [];
      // this.selectedRegionsRegional = [];
      // this.selectedProvincesRegional = [];
      // this.selectedRegions = [];
      // this.selectedProvinces = [];
      // this.selectedCities = [];
      mapDuplicate.clear();
      mapDuplicateRegions.clear();
      // if (this.projects != undefined) {
      //   setTimeout(() => {
      //     this.updateAreas()
      //   }, 1000);
      // }
    },
    selectedRegionsRegional: function() {
      // this.selectedProvincesRegional = []
      // this.selectedCitiesRegionspecific = []
      // this.provinces = [];
      // this.cities = [];
      // if (this.projects != undefined) {
      //   setTimeout(() => {
      //     this.updateAreas()
      //   }, 1000);
      // }
    }
  }
};
</script>

<style>
</style>
