<template>
  <div name="trip">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h5>
          Three-year Rolling Infrastructure Program <i class="fas fa-flag flag_tomato"></i>
          <br />
          <small class="text-primary">
            Contains nationally-funded infrastructure projects irrespective of cost 
            with emphasis on immediate priorities to be undertaken in three-year period
          </small>
        </h5>
      </div>
      <div class="card-body">
        <!-- <div class="form-group row">
           <div class="col-sm-2">
            <label class="form-control-label">Infrastructure Sector</label>
          </div>
          <div class="col-sm-10">
            <multiselect
              v-model="selectedSector"
              :options="sectors"
              :multiple="true"
              :close-on-select="false"
              :clear-on-select="false"
              :preserve-search="true"
              placeholder="Single or Multiple Selection"
              track-by="sector"
              :preselect-first="false"
              :hide-selected="false"
              label="sector"
              @select="getSubsector"
              @remove="removeSector"
            ></multiselect>
          </div>
          <div class="col-sm-2">
            <label class="form-control-label">Infrastructure Subsectors</label>
          </div>
          <div class="col-sm-10">
            <multiselect
              v-model="selectedSubSector"
              :options="subs"
              :multiple="true"
              :close-on-select="false"
              :clear-on-select="false"
              :preserve-search="true"
              placeholder="Single or Multiple Selection"
              track-by="subsector"
              :preselect-first="false"
              :hide-selected="false"
              label="subsector"
            ></multiselect>
          </div>
        </div> -->
        <div class="form-group row">
          <div class="col-sm-2">
            <label class="form-control-label">Status of Implementation Readiness <i class="fas fa-flag flag_tomato"></i></label>
          </div>
          <div class="col-sm-10">
            <multiselect
              v-model="selectedStatus"
              :options="statuses"
              :multiple="true"
              :close-on-select="false"
              :clear-on-select="false"
              :preserve-search="true"
              placeholder="Single or Multiple Selection"
              track-by="statuses"
              :preselect-first="false"
              :hide-selected="false"
              label="statuses"
              name="Status_of_Implementation_Readiness"
              v-validate="'required'"
            ></multiselect>
            <span class="text-danger">{{ errors.first('Status_of_Implementation_Readiness') }}</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">Implementation Risks and Mitigation Strategies<i class="fas fa-flag flag_tomato"></i></label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="5" 
            id="risk" 
            name="Implementation_Risk" 
            v-validate="'required'"
            v-model="ImplementationRisks"
            ></textarea>
            <span class="text-danger">{{ errors.first('Implementation_Risk') }}</span>
          </div>
        </div>
        <!-- <div class="form-group row d-flex justify-content-center">
          <div class="col-sm-2">
            <button
              type="button"
              data-toggle="modal"
              data-target="#ic"
              class="btn btn-primary"
            >Infrastructure Cost</button>
          </div>
        </div> -->
        <infracost :ic_projects="ic_projects" ref="infracost"></infracost>
      </div>
    </div>
  </div>
</template>

<script>
import store from "../../store/storetodb";
import infracost from "./InfrastructureCost1.vue";

export default {
  name: "trip",
  props: ["statuses", "status_projects", "projects", "ic_projects"],
  components: { infracost },
  data() {
    return {
      selectedStatus: "",
      ImplementationRisks:""
    };
  },
  mounted() {
    if (this.status_projects != undefined) {
      this.selectedStatus = this.status_projects
    }
    if (this.projects != undefined) {
      this.ImplementationRisks = this.projects.risk
    }
  },
  methods: {
    validateBeforeSubmit() {
      this.$refs.infracost.validateBeforeSubmit()
      this.$validator.validateAll().then(result => {
        if (result) {
          this.savetostore()
          return;
        }

        // alert("Fill up the required fields! TRIP");
      });
    },
    savetostore() {
      this.$refs.infracost.savetostore()
      store.dispatch('UpdateTripData', {
        selectedStatus: this.selectedStatus,
        ImplementationRisks: this.ImplementationRisks,
        trip: true
      })
    }
  }
};
</script>

<style>
</style>
